@charset "UTF-8";

.fill-gra{
	color:$white;
	background:$red-gra;
	border-color: transparent;
}
.line-gra{
	border-color:$pink;
	color:$pink;
	background:transparent;
}
.fill-white-red{
	color:$red;
	background: $white;
	border-color: $white;
}
.fill-pink{
	background: $pink;
	color:$white;
	border-color: $pink;
}
.line-pink{
	border-color: $pink;
	color:$pink;
	background:$white;
}
.line-grey{
	border-color: $grey-dark2;
	color:$black-dark;
	background:$grey-light;
}
.line-red{
	border-color: $red;
	color:$red;
	background:$white;
}

.sm-btn, .md-btn, .big-btn {
	@extend %box;
	@extend %mp_none;
	@extend %hand;
	font-weight: $font-weight-bold;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	text-decoration: none !important;
	width: 100%;
	&:hover, &:focus, &:active{
		text-decoration: none !important;
  		transition: all .25s ease;
	}
	i{
		position: relative;
		top: 2px;
	}
	&:disabled{
		color:#D5D0C1;
	}
}

.sm-btn {
	padding: 4px 8px;
	border-width: 1px;
	border-style: solid;
	font-size:$font-size-sm;
	min-width: 30px;
	font-weight: $font-weight-light;
}

.md-btn {
	padding: 0.85rem;
	border-width: 1px;
	border-style: solid;
	min-width: 40px;
	font-size: $font-size-base;
}

.big-btn{
	padding: 1.15rem 1rem;
	border-width: 1px;
	border-style: solid;
	font-size: $font-size-lg;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}