/* The work below, gellery-box, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/gellery-box. You are not required to add
   additional credit to your website, just leave the above text in this file */
   .gellery-box {
    display: inline-block;
      a:target ~ .gellery-box_close,
      a:target ~ .gellery-box_prev,
      a:target ~ .gellery-box_next,
      a:target ~ .gellery-box_header {
        visibility: visible;
      }
      
      a:target > .gellery-box_thumb + .gellery-box_full {
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
      }
      .info-more{color:$white;cursor: pointer;}
      header, header *{
        z-index: 9999999999999;
      }
  }
  
  
  .gellery-box_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
  }
  .gellery-box-inner{
    position: fixed;
    top: 0%;
    left: 0%;
    box-shadow: 0 0 20px black;
    height:100%;
    width: 100%;
    overflow: hidden;
    img{
      object-fit: cover;
      width:100%;
      height:100%;
    }
  }
  .gellery-box-full-text{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    color:$white;
    padding: 15px;
    dl{
      flex-direction: column;
      dt{
        width: 100%;
        display: flex;
        .heart-box-wrap{margin-left:auto}
        font-size: $font-size-middle;
      }
      dd{
        margin-top: 5px;
        display: block;
        width: 100%;
      }
    }
  }

  
  .gallery-toggle{
    visibility: hidden;
        opacity: 0;
        pointer-events: initial;
        display: none;
  }
 .gellery-box_close,
 .gellery-box_prev,
 .gellery-box_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color:$white;
    font-size: 36px;
  }
  .gellery-box_header{

    visibility: hidden;
  }
 .gellery-box_close {
    top: 20px;
    right: 20px;
  }
  
  .gellery-box_close::after {
    content: '\00d7';
  }
  
  .gellery-box_prev,
  .gellery-box_next {
    top: 50%;
    transform: translate(0%, -50%);
    background:rgba(0,0,0,0.8);
    width: 50px;
    height:60px;
    line-height: 60px;
    text-align: center;
    i{
      font-size: $font-size-xxlg;
      display: block;
      position: relative;
      left:-4px;
    }
  }
  
  .gellery-box_prev {
    left: 0;
  }
  
  .gellery-box_next {
    right:0;
  }
  
  
  /* This is the end of gellery-box */
  
  .modal_gellery_list{
    li{padding: 20px;@extend %box;}
    img{width: 100%;}
    .common-shop-comment-box .title{
      .heart-box-wrap{margin-left:auto;}
    }
  }