//상세 탭 스타일
.tab-type1{
  display: flex;
  justify-content: center;
  align-items: center;
  li{margin: 0 10px;font-size: $font-size-xlg;}
  a{color:$grey-9}
  a.active{color:$red;font-weight: $font-weight-bold;}
}

//부상세 탭 스타일
.tab-type2{
  display: flex;
  font-size: $font-size-middle;
  li{margin: 0 5px;}
  a{color:$grey-9;  font-size: $font-size-middle;}
  a.active{border-bottom: 1px solid $pink;color:$pink;font-weight: $font-weight-bold;}
}

//라운드 탭 스타일
.tab-type3{
  display: flex;
  align-items: center;
  overflow: auto;
  width:100%;
  margin-top: 15px;
  -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
  li{margin: 0 5px;font-size: $font-size-middle;}
  a{color:$black-dark;border-radius: 50em;border:1px solid $black-dark;width:  70px;background:$white;display: block;text-align: center;}
  a.active{color:$red;font-weight: $font-weight-bold;border-color: $red;}
}

//핑크 탭 스타일
.tab-type4{
  background:$red-gra;
  display: flex;
  li{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-middle;
  }
  a{
    color:$white;
    opacity: 0.8;
  }
  a.active{
    opacity: 1;
    font-weight: $font-weight-bold;
  }
  &.fixed{
    position: fixed;
    top:44px;
    left:0px;
    right:0px;
    height: 45px;
    z-index:999;
  }
}


.tab-content > .tab-pane {
    display: none;
  }
  
  .tab-content > .active {
    display: block;
  }
  
.fade {
    transition: opacity 0.15s linear;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none;
    }
  }
  
  .fade:not(.show) {
    opacity: 0;
  }
  
  .collapse:not(.show) {
    display: none;
  }
  
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none;
    }
  }
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px;
    &:first-child .nav-link{
      margin-left: 0px;
    }
  }
  
  .nav-tabs .nav-link {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-left:0px;
    margin-left: -0.05em;
  }
  
  
  .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  