@charset "UTF-8";
@import "variables";
@import "reset";
@import "buttons";
@import "tab";
@import "modal";
@import "gallery";
@import "remixicon";


/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
 html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-x:hidden;
    font-weight: $font-weight-base;
  }
  body {
    font-family: $font-family;
    line-height: 1.618;
    letter-spacing: -0.55px;
    word-spacing: -0.5px;
    -webkit-overflow-scrolling: touch;
    padding-top: 1px;
    margin-top: -1px;
    @extend %box;
    font-weight: $font-weight-base;
  }
body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }
  hr{
    border: 0;
    height: 1px;
    margin: 30px 0;
  }
  a{cursor: pointer;color:$black-dark}
  .blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    }
    .tag{font-size: $font-size-xsm;border-radius: 50em;display: inline-block;border:1px solid;padding:0px 10px;
    &.line-pink{
      border-color:$pink;color:$pink;
    }
  }

  .color-purple{color:$purple}
  .color-pink{color:$pink}
/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
 html, body {
    margin:0;
    font-weight:$font-weight-light;
    font-size:12px;
    overflow-x: hidden !important;
    height: 100%;
  }
  @media(max-width:320px){
   html,body{ font-size: 11px;}
  }

  .center-this{
    padding: 0px 20px;
    width: 100%;
    min-width:320px;
    position: relative;
    @extend %box;
  }
  .sub-this{
    padding: 0px 20px;
    padding-bottom: 30px;
    width: 100%;
    min-width:320px;
    position: relative;
    @extend %box;
    .tab-box{
      padding-top:20px;
    }
    &.sub-this-type2{
      margin-top: 30vh;
      box-shadow: -1px 0px 126px 29px rgba(0,0,0,0.47);
      -webkit-box-shadow: -1px 0px 126px 29px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 0px 126px 29px rgba(0,0,0,0.47);
      position: relative;
      background:$white;
      -webkit-border-top-left-radius: 30px;
      -webkit-border-top-right-radius: 30px;
      -moz-border-radius-topleft: 30px;
      -moz-border-radius-topright: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    &.sub-this-type3{
      margin-top: 25vh;
      box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.47);
      -webkit-box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.47);
      -moz-box-shadow: -1px 0px 20px 5px rgba(0,0,0,0.47);
      position: relative;
      background:$white;
      -webkit-border-top-left-radius: 30px;
      -webkit-border-top-right-radius: 30px;
      -moz-border-radius-topleft: 30px;
      -moz-border-radius-topright: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
  }
  .sub-visual{
    height:250px;
    position: absolute;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  .sub-visual-type2{
    height:inherit;
    padding:20px;
   
  }
  body{
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-track {
      background-color: $grey-dark;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $grey-dark2;
      border-radius: 5px;
    }
  }
 
  .sub-wrap{
    padding-top:44px;
    @extend %box;
    width:100%;
    &.sub-wrap-fixed{
      padding-bottom: 70px;
      + .sub-thist{
        padding-bottom: 0px;
      }
    }
    &-type2{
      padding-top:87px;
    }
    &-type3{
      background:$grey-light;
      height:100vh;
    }
    .title-box{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      h2{
        font-size:$font-size-xlg;
        font-weight:$font-weight-light;
        small{
          font-size: $font-size-middle;
        }
      }
    }
    .center-this{
    padding: 20px;
    }
  }


/* ----------------------------------------------------------------
 header
 -----------------------------------------------------------------*/
header{
  height: 44px;
  background:$white;
  left:0;
  right:0;
  z-index: 99;
  top:0;
  position: fixed;
  border-bottom: 1px solid $grey-dark;
  &.header-type2{
    background:$red-gra;
    color:$white;
  }
  .center-this{
    justify-content: center;
    display: flex;
    height: 44px;
    padding: 0;
  }
  h1{
    line-height: 44px;
    font-size: $font-size-lg;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 18px;
    }
  }
  .header-icon{
    position: absolute;
    left:0;
    top:0;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      line-height: 44px;
      img{
        max-width: 20px;
        max-height: 16px;
        object-fit: inherit;
      }
    }
  }
  .header-icon-type2{
    right:0;
    left: inherit;
  }
  .header-icon-type3{
    left:40px;
    right: inherit;
  }
}
/* ----------------------------------------------------------------
 main
 -----------------------------------------------------------------*/
 
 .map-refresh-btn{
   position: fixed;
   top: 140px;
   left: 50%;
   transform: translateX(-50%);
    z-index: 99;
    background: $white;
    @extend %box-shadow;
    border-radius: 50em;
    padding: 5px 15px 8px 15px;
    font-weight: $font-weight-bold;
    i{margin-left: 4px;position: relative;top: 2px;font-size: $font-size-middle;}
  }

 .map-shop-list-hidden{
   .button-map-area{
     right: 0;
     bottom: 60px !important;
     &-roll{
       bottom: 150px !important;
     }
   }
 }
 .button-map-area{
  z-index: 999;
  display: flex;
  text-indent: -999px;
  position: absolute;
  right:0;
  .button-map-ui, .button-map-toggle{
    display: block;width:50px;height:50px;cursor: pointer;
    background-repeat: no-repeat;background-size: 50px;
  }
  .button-map-toggle{
    background-image: url(../../common_source/images/map_icon_zoom_off.svg);
    &.on{
      background-image: url(../../common_source/images/map_icon_zoom_on.svg);
    }
  }
  .button-map-ui{
    background-image: url(../../common_source/images/map_icon_location_off.svg);
    &.on{
      background-image: url(../../common_source/images/map_icon_location_on.svg);
    }
  }
} 
 .map-area{
    position: relative;
    .map-area-inner{
      height:100vh;
      width:100%;
    }
    .wrap_map{
      height:100vh !important;
    }
  }
  .map-shop-list{
    position: fixed;
    left:0px;
    bottom:0;
    height:50%;
    width: 100%;
    z-index: 90;
    display: flex;
    border-right:1px solid $grey-dark2;
    display: flex;flex-direction: column;align-items: center;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  .map-shop-list-hidden{
    height:auto;
  }
  .map-shop-list-title{
    position: fixed;
    left:0;right:0;
    top:89px;
    z-index: 999;
    background:$white;
    text-align: left; 
    padding:6px 13px;
    display: flex;align-items: center;
    h2{font-size:$font-size-middle;padding-left:22px;background-image:url(../../common_source/images/icon_maping_red.svg);background-size:16px;background-position: left center; background-repeat: no-repeat;}
    .change-location{margin-left: auto;font-weight: $font-weight-bold;cursor: pointer;font-size:$font-size-middle;}
  }
  .map-list-box-title{
    font-size: $font-size-middle;margin-bottom: 5px;
  }
  .map-list-box{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    margin-top: 50px;
    padding:10px;
    height: 100%;
    overflow-y: scroll;
    @extend %box;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    background:$white;
    .common-list-box{
      padding-bottom: 50px;
    }
    .common-list-list{
      margin-bottom:6px;
      cursor: pointer;
      &.active{border-color:$black-dark;}
    }
    .common-list-box-view{
      width:400px;
      position: fixed;
      left:560px;
      top: 70px;
      z-index: 9;
      height:calc(100vh - 100px);
      background:$red;
      color:$white;
      .content-box{
        height:calc(100vh - 360px);
        .shop-title-box{
          padding:25px 30px;
          color:$white;
          text-align: center;
          width:400px;
          @extend %box;
          flex-direction: column;
          height:140px;
          h2{font-size: $font-size-lg;margin-bottom: 10px;}
          h3{
            font-weight: $font-weight-light;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
          }
        }
      }
      .info-box-wrap{
        background:$white;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-top-right-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-topright: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color:$black-dark;
        padding:30px;
        margin-top: auto;
        height:calc(100vh - 560px);overflow-y: auto;
        -webkit-box-shadow: 0px -5px 5px 2px rgba(0,0,0,0.1); 
        box-shadow: 0px -5px 5px 2px rgba(0,0,0,0.1);
      }
    }
  }

  .map-list-box-hidden{
    top: 100% !important;
    height: 0 !important;
    padding: 0 !important
  }
  .map-area-locaiton{
    position: relative;
    position: absolute;
    white-space: nowrap;
    right: 300px;
    top: 250px;
    z-index: 90;
    width:35px;
    height:50px;
    .common-list-box{
      position: absolute;
      left:50%;
      transform: translateX(-55%);
      .list-title{
        color:$purple;
      }
    }
    .map-area-text{
      color:$red;
      border-color:$red;
      position: absolute;
      top: -50px;
      left:50%;
      transform: translateX(-55%);
    }
  }
  .map-area-locaiton-my{
    position: absolute;
    white-space: nowrap;
    right: 300px;
    top: 488px;
    z-index: 9;
    width:40px;
    height:40px;
    img{width:100%;height:100%;}
  }

  .map-area-text{
    position: fixed;
    padding:8px 15px;
    border-radius: 50em;
    background:$white;
    border:1px solid $grey-dark2;
    z-index: 9;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color:$grey-6;
    &.point1{
      top: 300px;right:100px;
    }
    &.point2{
      top: 400px; right:80px;
    }
    &.point3{
      top: 500px; right:500px;
    }
    &.point4{
      top: 200px; right:400px;
    }
  }

  
  .button-map-toggle-v2-wrap{
    width: 100%;
    position: fixed;z-index: 10;left:0;bottom: 0;
    .common-list-box {
      width: 100%;display:none;
      .common-list-list{
        border-radius: 0;
        border:0;
        @extend %box;
        width: 100%;
        dl .list-title .title strong{
          color:$purple;
        }
        .img-box{
          height: 80px;
          border-radius: 0;
          img{
            height: 80px;
          }
        }
        dl .list-sub{
        -webkit-line-clamp: 3;
          }
        }
    }
  }
  .button-map-toggle-v2{
    margin: 0 auto;
    margin-bottom: -1px;
    background-color:$white;width:150px;height:40px;display: flex;align-items: center;justify-content: center;
    cursor: pointer;font-weight: $font-weight-bold; color:$black-dark;font-size: $font-size-middle;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:after{
      content: "\ea4e"; 
      font-family: remixicon;
      font-size: $font-size-xlg;
      margin-left: 5px;
    }
  }

  .modal-map{
    height:calc(100vh - 45px);
    .inn-text{
      position: fixed;
      width:100%;
      bottom: 0px;
      z-index: 9999;
      background-color: $white;
      li{
        display: flex;
        align-items: center;
        font-size: $font-size-middle;
        i{margin-right: 5px;}
      }
    }
    .modal-map .root_daum_roughmap{height:100% !important;}
  }
/* ----------------------------------------------------------------
 map :: location_change
 -----------------------------------------------------------------*/
.modal-location-search{
  font-size: $font-size-middle;
  border-bottom:2px solid $grey-9;
  &.focus{border-color:$pink;}
  .search-box{display: flex;}
  input{border:0;width:70%;padding:5px 0px;font-size: $font-size-middle;}
  .button-box{margin-left:auto;}
  img{width:16px;}
  .search-box-cancel{
    width:30px;padding:5px 0px;
  }
  .search-box-btn{
    width:30px;padding:5px 0px;
  }
}
.modal-location-search-list{
  margin-top:20px;
  padding-top:10px;
  border-top: 1px solid $grey-dark;
}
.modal-location-search-my{
  text-align: right;
  padding-top: 10px;
  font-weight: $font-weight-bold;
  cursor: pointer;
}
 
.modal-map-area{
  position: relative;
}
.modal-map{
  .root_daum_roughmap{
    width: 100%;
  }
  .root_daum_roughmap .wrap_controllers{display: none;}
}
.inn-text{
  padding: 20px;
  text-align: left;
  line-height: 2rem;
  
}


/* ----------------------------------------------------------------
 search result
 -----------------------------------------------------------------*/
 .search-result-wrap{
   .common-list-box{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  .common-list-list{
    width: 100%;
    margin-bottom: 10px;
  }
 }

/* ----------------------------------------------------------------
 join
 -----------------------------------------------------------------*/
 .join-title{
   text-align: center;
   h2{
     font-weight: $font-weight-bold;
     font-size: $font-size-xxlg;
   }
 }
 .join-wrap{
  margin: 0 auto;
  width:440px;
 }
 .join-content{
   padding-bottom: 60px;
  h3{
    small{color:$purple;margin-left:10px;}
  }
 }
 .join-int-wrap{
   width:100%;
   margin-bottom: 30px;
   li{
     margin-bottom: 10px;
   }
    dl{
      border-bottom: 1px solid $grey-9;
      dt{font-weight: $font-weight-bold;margin-bottom: -10px ;margin-top:20px;}
      dt small{color:$purple;position: relative;top: -2px;margin-left:3px;}
      dd{margin:10px 0px;}
      input{border:0px;padding: 6px 0px;}
    }
    .join-form{
      display: flex;
      input{
        flex:7;font-weight: $font-weight-light;
      }
      button{
        flex:3;padding: 0px 10px;border-radius: 5px;background: $pink;color:$white;cursor: pointer;
      }
    }
    .join-waring{
      color:$red;
      text-align: left;
      margin-top:15px;
    }
 }

 .join-agree-check{
   dt{margin-bottom: 10px;}
   dd{margin-left: 30px;margin-bottom: 5px;}
 }
 .join-btn-area{position: fixed;bottom:0;right:0;left:0;}



/* ----------------------------------------------------------------
 shop-view
 -----------------------------------------------------------------*/
.shop-info-area{
  margin-top:15px;
  background:$white;
  .btitle-box{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    h2{font-size:$font-size-lg;}
    .font-em{
      margin-left: 5px;
      color:$purple;
    }
    .shop-info-data-more{
      margin: 0;
      margin-top: 0px;
      margin-left:auto;
    }
  }
}
.shop-info-data-more{
  text-align: center;
  margin: 0 auto;
  margin-top:10px;
  a{
    color:$grey-9;
    text-decoration: underline !important;
  }
}

.shop-info-area-box{
  dl{
    padding:10px 0px !important;
    display: flex;
    width:32% !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    dt{
      img{
        width:20px;
      }
    }
    dd{margin:0 !important;font-size: $font-size-middle;}
  }
}

.rv-select{
  width:100%;
  position: relative;
  margin-bottom: 10px;
  &:after{
    content:'\ea4e';
    font-family: remixicon;
    position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    font-size: $font-size-xlg;
  }
  select{padding: 5px 10px;border-radius: 5px;border: 1px solid $black-dark;width:100%;cursor: pointer;}
}
.shop-rv-area{
  display: flex;
  align-items: center;
  .rv-info{
    flex:1;
    dt{font-weight: $font-weight-bold;font-size: $font-size-lg;}
    dd{color:$grey-9;}
  }
  .rv-score{
    margin-top: 5px;
    font-size: 2rem;
    strong{
      color:$pink;
    }
  }
  .heart-box{
    margin-top:5px;
    .icon{
      width: 16px;
      height:16px;
      background-size: 16px;
    }
  }
  .rv-graph{
    flex:1.5;
  }
  .rv-line{
    margin-top: 15px;
    dl{
      display: flex;
      margin-top:0px;
      &:before{content:'5';padding-right: 5px;color:$grey-9;top:-4px;position: relative;}
      &:nth-child(2){
        &:before{content: '4';}
      }
      &:nth-child(3){
        &:before{content: '3';}
      }
      &:nth-child(4){
        &:before{content: '2';}
      }
      &:nth-child(5){
        &:before{content: '1';}
      }
      dt{
        flex:8;
        .pr-box{
          width:100%;
          height:10px;
          background:$grey-light;
          display: flex;width:100%;
          .pr-inn{background:$pink;}
        }
      }
      dd{
        flex:1;
        margin-left:auto;
        text-align: right;
        padding-left:5px;
        color:$grey-9;
      }
    }
  }
}
.modal_rv_fin{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  .modal-waring-text{
    margin-bottom: 40px;;
  }
}

/* ----------------------------------------------------------------
 join-modal
 -----------------------------------------------------------------*/
 .modal-login{
   background:$red;color:$white;text-align: center;
   position: relative;
   height:100%;
   .center-this{
     display: flex;
     height: 100%;
     flex-direction: column;
     .modal-login-footer{
       margin-top:auto;
     }
   }
   .modal-login-title{
     margin-top: 40px;
     img{
       width: 140px;
     }
   }
   .modal-btn-close{
     background:url(../../common_source/images/icon_close_white.svg);
    }
   .inn{
     padding: 50px 70px;
     @extend %box;
   }
   .join-int-wrap{
     margin-top: 30px;
     dl{
       border-color: $white;
       input{background:transparent;color:$white;}
        input::-webkit-input-placeholder {
          color:$white;
        }
        input:-ms-input-placeholder {
          color:$white;
        }
     }
   }
   .modal-login-btn{
     margin-top: 20px;display: flex;justify-content: space-between;
   }
   .modal-login-util{
     display: flex;margin-top: 40px;align-items: center;
     justify-content: center;
     li{
      padding-right: 10px; 
       *{color: $white;}
       &:after{
         border-right:1px solid rgba($white, 0.3);content:''; 
         padding-right: 10px;
       }
       &:last-child:after{border-right:0;}
     }
   }
   .modal-login-footer{
     margin-top: 60px;font-size: $font-size-sm;letter-spacing: 0;
   }
   .modal-join-text{
     margin-top: 20px;
     text-align: left;
     font-size: $font-size-middle;
    strong{font-weight: $font-weight-bold;}
   }
 }

 .modal-login-id{
   background:$white;color:$black-dark;
   .inn{padding-bottom: 50px;}
   .join-int-wrap{
    dl{
      border-color: $grey-9;
      input{background:transparent;color:$black-dark;}
       input::-webkit-input-placeholder {
         color:$grey-9;
       }
       input:-ms-input-placeholder {
         color:$grey-9;
       }
    }
  }
 }
 .modal-join-title{
   margin-top: 10px;
   h2{font-size: $font-size-lg;}
 }

 .modal-login-btn-v2{
   display: flex;
   flex-direction: column;
   button{
    margin-bottom: 10px;
   }
 }




/* ----------------------------------------------------------------
mypage
 -----------------------------------------------------------------*/
.mypage-wrap{
  display:flex;
  flex-direction: column;
  .right-area{
    margin-top:15px;
  }
  .title-box{
    .mypage-btn-mode{
      cursor: pointer;
      margin-left:auto;
      color:$grey-9;
      padding-left:22px;
      background-image:url(../../common_source/images/icon_setting_grey.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px;
    }
  }
  .mypage-info-list{
    display: flex;
    flex-direction: column;
    dl{
      display: flex;
      align-items: center;
      dt,dd{width: 50%;}
      dd{
        margin-left:auto;
        text-align: right;
      }
    }
    li{margin-bottom: 3%;padding:10px 20px;@extend %box-shadow;@extend %box;border-radius: 5px;}
    dt{padding-left:22px;background-image:url(../../common_source/images/icon_calendar.svg);background-repeat: no-repeat;background-size: 14px;background-position: left center;font-weight:$font-weight-bold;}
    dd{font-size: $font-size-lg;margin-top:5px;}
    .mypage-point dt{background-image:url(../../common_source/images/icon_point.svg);}
  }
  .mypage-reservation-list{
    border-top:1px solid $grey-dark;
    li{
      padding:10px 0;
      border-bottom: 1px solid $grey-dark;
    }
    dl{
      display:flex;
      align-items: center;
      dt{
        padding-right: 10px;;
        h3{font-weight: $font-weight-light;}
        h2{font-size: $font-size-middle;}
      }
      dd{
        margin-left:auto;
        display: flex;
        justify-content: space-between;
        min-width:130px;
        span{width:60px;}
        .sm-btn{border-radius: 5px;}
      }
    }
  }
}

/* ----------------------------------------------------------------
 modal-agree
 -----------------------------------------------------------------*/
.modal-agreebox{
  min-height:300px;
  overflow-y:auto;
  margin-bottom: 20px;
  text-align: left;
}
.modal-agree-btn{
  display: flex;
  justify-content: space-between;
  &.w37{
    button:first-child{
      flex:1;
      margin-right: 5px;
    }
    button:last-child{
      flex:2;
      margin-left: 5px;
    }
  }
  button{min-width: 100px;}
}
.modal-text-info-agree{
  display: flex;
  dd{margin-left:auto;}
  .agree_more_link{
    text-decoration: underline !important;
    color:$black-dark;
  }
}

/* ----------------------------------------------------------------
 modal-review
 -----------------------------------------------------------------*/
.modal-rv-area{
  .modal-rv-info-area{
    text-align:left;
    .date{
      display: flex;
      dt{color:$black-dark}
      dd{color:$grey-9;margin-left:10px}
    }
    .name{
      margin-top: 6px;
      font-size: $font-size-middle;
    }
    .total{
      color:$purple;
      font-size: $font-size-middle;
    }
  }
  .modal-rv-score{
    text-align: center;
    margin-top: 20px;
    dt{font-weight: $font-weight-base;margin-bottom: 10px;}
    small{color:$grey-9;font-size: $font-size-base;}
  }
  .rv-rating{
    font-size: 3rem;
    margin: -10px 0;
  }
  .modal-rv-memo{
    margin-top: 15px;
    textarea{
      width:100%;
      border: 1px solid $grey-light;
      padding: 10px;
      height:100px;
      resize: none;
    }
    .add_photo{
      text-align: right;
      margin-top:5px;
      color:$black-dark;
      span{
        display: inline-block;
        background-image:url(../../common_source/images/icon_camera_black.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 13px;
        padding-left: 20px;
      }
    }
  }
}

.rv-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  > input {display: none;}  /* Remove radio buttons */
  > label:before { 
    content: "\ee0e"; /* Star */
    font-family: remixicon;
    display: inline-block; 
  }
  > label
  {
    color: $grey-9; /* Start color when not clicked */
  }
  > input:checked ~ label
  { color: $pink ; } /* Set yellow color when star checked */

  > input:hover ~ label
  { color: $pink ;  } /* Set yellow color when star hover */

}


.reserve-list{
  .title {
    display: block;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 0;
    text-align: left;
    h2{
      font-size: $font-size-lg;
      padding-left:26px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px;
    }
    .rv-list-title1{
      background-image:url(../../common_source/images/icon_calendar.svg);
    }
    .rv-list-title2{
      background-image:url(../../common_source/images/icon_time.svg);
    }
    .rv-list-title3{
      background-image:url(../../common_source/images/icon_cut.svg);
    }
  }
}

.reserve-cut-menu{
  margin-top: 30px;
  .tab-type3{
    margin:0;
    justify-content: flex-start;
  }
}

.reserve-list-accordion{
  margin-top:-30px;
  .reserve-list-toggle {
    display: none;
  }
  .reserve-list-option {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $grey-dark;
  }
  .title,
  .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }
  .title:after, .title:before {
    content: '';
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    font-size: $font-size-xlg;
  }
  .title:after{
    font-family: remixicon;
    content:'\ea4e';
  }
  .content {
    max-height: 0;
    overflow: hidden;
    dt{margin-bottom: 10px;}
  }

  .reserve-list-toggle:checked {
    & + .title:before {
      content:'';
    }
    & + .title:after {
      content:'\ea78';
    }
    & + .title + .content {
      max-height: 500px;
    }
  }

  .rv-time-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
    li{
      width: 25%;
      margin-bottom:6px;
    }
    input{
      display: none;
    }
  }

  .rv-time-check + label{
    padding: 6px 0;
    display: block;
    color:$black-dark;
    border:1px solid $pink;
    text-align: center;
    margin: 0 3px;
    cursor: pointer;
  }
  .rv-time-check:checked + label{
    background:$pink;
    color:$white;
  }
  .rv-time-check:disabled + label{
    background:$grey-light;
    color:$grey-9;
    border-color: $grey-dark2;
  }
  .rv-time-label-info{
    display: flex;
    margin: 6px 0;
    justify-content: flex-end;
    p{
      margin-left: 15px;
      align-content: center;
      display: flex;
      align-items: center;
      span{
        margin-right: 6px;
        display: block;
        width: 20px;
        height: 10px;
        background:$pink;
        border: 1px solid $pink;
      }
      span.off{
        background:$grey-light;
        border-color: $grey-dark2;
      }
    }
  }
}

/* ----------------------------------------------------------------
 rv-modal
 -----------------------------------------------------------------*/
.modal-rv-fin-area{
  .total-pirce, .total-pirce-type2{
    @extend %box-shadow;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    dl{display: flex;padding: 10px 15px;}
    dd{margin-left: auto;}
    dd strong{font-size: $font-size-middle;}
  }
  .total-pirce-type2{
    margin-top: 30px;
    border: 1px solid $red;
    dl{padding: 15px;}
    dd{color:$red;}
    dt{font-weight: $font-weight-bold;}
  }
  .check-person{
    dl{
      display: flex;
    }
    dd{margin-left:auto}
    dd a{text-decoration: underline !important;color:$black-dark}
  }
  .modal-head{margin-bottom: 6px;}
  .price-point{
    text-align: left;
    h3{color:$purple;font-size: $font-size-base;margin-bottom: 5px;}
    input{border:0;}
    .pirce-point-box{
      display:flex;
      .pirce-use{
        display: flex;
        align-content: center;
        padding-right: 10px;
        dl{
          display: flex;
          border:1px solid $grey-dark;
          padding: 5px;
          input{margin-left:auto;text-align: right;width:calc(100% - 50px);}
        }
        .btn{border: 1px solid $purple;color:$purple;padding: 5px 0px; width:70px;text-align: center;}
      }
      .price-use-won{
        align-content: center;
        border: 1px solid $grey-dark2;
        input{
          text-align: right;
          padding: 5px;
        }
      }
    }
    .price-check{
      margin-top: 10px;
      li{margin-bottom: 5px;}
    }
  }
}

  .modal-waring-text{
    margin-bottom: 10px;
    i{font-size: $font-size-xxlg;}
    h2{font-size: $font-size-xlg;}
    h3{margin-top:10px;color:$grey-9}
  }

  .modal-rv-fin-check{
    margin-top: 10px;
    background:$white;
    border: 1px solid $grey-dark;
    padding: 20px;
    text-align: left;
    dt{margin-bottom: 5px;}
    dd{
      display: flex;
      .rv-fin-date{
        width: 130px;
        h2{font-weight: $font-weight-bold;font-size: $font-size-xxxlg;
          line-height: 1.2;}
        h3{font-size:$font-size-base;margin-top:5px}
      }
      .rv-fin-date-info{
          max-width: 300px;
          h4{font-weight: $font-weight-bold;color:$purple}
          h2{font-size: $font-size-lg;margin-bottom: 5px; line-height: 1.4;}
          h3{font-size: $font-size-base;color:$grey-6}
      }
    }
  }
/* ----------------------------------------------------------------
 common
 -----------------------------------------------------------------*/
.common-list-box{
  .common-list-list{
    display: flex; border:1px solid $white;padding:13px;border-radius:10px;background:$white;@extend %box-shadow;
    &:focus, &:active, &:hover{
      border-color:$black-dark;cursor: pointer;
    }
    .img-box{
      flex-basis: 80px;width:80px;height:60px;border-radius:3px; overflow:hidden;
      img{width:80px;height:60px;object-fit: cover;}
    }
    .list-util{
      margin-left:auto;
      display: flex;
      span{display: flex;align-items: center;line-height: 20px;margin-right:8px;color:$grey-6;font-size: $font-size-sm;font-weight: $font-weight-base;}
      .icon{
        display: block;background-repeat: no-repeat;width:20px;height:20px;line-height: 20px;background-position:center;background-size:14px;margin-right:3px;
        &.heart{background-image:url(../../common_source/images/icon_heart_on.svg);}
        &.comment{background-image:url(../../common_source/images/icon_comment.svg)}
      }
    }
    dl{
      display: flex;flex-direction: column;width:calc(100% - 90px);margin-left:auto;
      .list-title{
       font-weight: $font-weight-bold;
        position: relative;
        display: flex;
        align-items: center;
        .title{
          display: flex;
          align-items: center;
          width: 140px;
          flex:2;
          strong{
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $font-size-middle;
            width:60%;
          }
        }
        .tag{
          position: relative;margin-left:5px;
        }
      }
      .list-sub{font-size:$font-size-base;
        overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;white-space: initial;
      }
    }
  }
}
.common-search-title-box{
  display: flex;
  h2{font-weight:$font-weight-bold;font-size:$font-size-middle;}
  span{margin-left:auto;cursor:pointer;}
}
.common-search-list{
  margin-top:10px;  
  overflow-y: auto;
  li{
    display: flex;
    padding:3px 0px;
    padding-right: 10px;
    h3{display:block;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;width:90%;text-align: left;
      font-size: $font-size-middle;}
    .common-search-delete{
      margin-left:auto;cursor: pointer;
    }
  }
}

.common-list-box-view{
  .img-box{
    position: relative;
    height:260px;overflow:hidden;
    .close-btn{
      position: absolute;
      right:15px;
      top:15px;
      cursor: pointer;
      .shop-img{
      width:400px;height:260px;object-fit: cover;
      }
    }
  }
}

.common-designer-area{
  display: flex;
  .img-box{
    width: 80px;
    height:80px;
    overflow: hidden;
    border-radius: 50em;
    display: block;
    margin-right: 20px;
    img{
      object-fit: cover;
      width: 80px;
      height:80px;
    }
  }
}
.designer-area{
  flex-direction: column;
  .img-box-area{
    display: flex;
  }
  .img-box{
    width:60px;
    height:60px;
    overflow:hidden;
    border-radius: 50em;
    img{
      object-fit: cover;
      width:60px;
      height:60px;
    }
  }
  .info-box{
    margin-bottom: 10px;;
    dl{
      padding-left:10px;
    }
    display: flex;
    flex-direction: column;
    .name{
      font-size: $font-size-lg;
    }
    .date{color:$purple;font-weight:$font-weight-bold}
  }
}

.common-info-box{
  .title{
    font-size: $font-size-middle;
    width:100%;
  }
  dl{display: flex;align-items: flex-start;margin-bottom: 3px;align-items: baseline;}
  dt{width:80px;font-weight: $font-weight-bold;}
  dd{
    display: flex; align-items: center;
    width: calc(100% - 80px);
    strong{margin-left:5px;}
  }
}

.modal{
  .common-info-box{
    dl{
      text-align: left;
      dt{color:$grey-9;font-weight: $font-weight-base;}
      dd{min-height: auto;}
    }
  }
}

.common-store-name{
  display: flex;
  width: 100%;
  .common-store-title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
 
.common-shop-more{
  display: block;
  flex-direction: column;
  span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .info-more{
    font-size: $font-size-sm;
    color:$grey-9;
    text-decoration: underline !important;
    text-align: left;
    width: 100%;
    display: block;
  }
}
.common-shop-photo-box{
  display: grid;
  justify-content: space-between;
  grid-gap: 5px;
  li{width:100%;}
  .tumb > img{
    object-fit: cover;
    width:100%;
  }
  &.col_3{
    grid-template-columns: repeat(auto-fill, 32%);
    .tumb > img{
      height:110px;
    }
  }
  &.col_4{
    grid-template-columns: repeat(auto-fill, 23.5%);
    .tumb > img{
      height:84px;
    }
  }
}

.common-shop-menu-radio-wrap{
  flex-wrap: wrap;
  display: flex;
  input{visibility: hidden;}
  label{width:100%;}
  li{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    @extend %box;
  }
  dl{
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    border:1px solid $white;
    &::before{
      content:'';
      position: absolute;
      left: 15px;
      top:15px;
      width:22px; 
      height:22px; 
      background-image: url(../../common_source/images/input_check_round.svg); 
      background-position: -22px 0;
    }
  }
  .price{
    margin-top: 3px;
    font-size: $font-size-lg;
    em{
      text-decoration: line-through;
      color:$grey-9;
      margin-left: 10px;
    }
    .discount{
      color:$purple;
      margin-left: 10px;
      font-weight: $font-weight-bold;
    }
  }
  small{color:$grey-9}
  .input {
    position: absolute;
    left: -9999px;
  }
  input[type=checkbox]:checked + label dl{
    border:1px solid $black-dark;
    &:before{
      background-position: 0 0;
    }
  }
}

.common-design-reserve{
  display: flex;
  flex-direction: column;
  li{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    @extend %box;
    @extend %box-shadow;
    justify-content: space-between;
    border-radius: 5px;
    padding:15px;
    align-items: center;
    border:1px solid $white;
    &:active, &:focus{
      border-color:$black-dark
    }
    .img-area{
      display: flex;
      align-items: center;
      img{
        object-fit: cover;
        width:44px;
        height:44px;
        border-radius: 50em;
        overflow:hidden;
      }
    }
    dl{
      padding-left:15px;
      width:44%;
      dt{font-weight: $font-weight-bold;font-size: $font-size-middle;}
      dd{
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.design-btn-area{
  margin-left:auto;
  .sm-btn{
    border-radius: 5px;
    width:80px;
    i{
      display: inline-block;
      width:12px;
      height:13px;
      background-image: url(../../common_source/images/icon_calendar_white.svg);
      background-size: 12px auto;
      background-repeat: no-repeat;
      position: relative;
      margin-right: 5px;
    }
  }
}

.sub-btn-area{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.common-shop-menu-box{
  @extend %box;
  @extend %box-shadow;
  padding: 10px 15px;
  border-radius: 5px;
}

.btitle-box + .common-shop-comment-box{
  margin-top:-15px;
}
.common-shop-comment-box{
  dl{
    padding:10px 0px;
    border-bottom: 1px solid $grey-dark;
    text-align: left;
  }
  .title{
    display: flex;
    align-items: center;
    .tt{margin-right:13px;font-size: $font-size-middle;font-weight: $font-weight-bold;}
  }
  .text{
    margin-top:5px;  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .date{
    margin-top:5px;
    font-size: $font-size-sm;
    color:$grey-9;
    span{margin-right: 6px;}
  }
  .heart-box-wrap{
    margin-left:auto;
  }
}

.common-info-link-btn{
  display: flex;
  justify-content: space-between;
  margin:20px 0px;
  dl{
    width:100px;
    border-radius: 5px;
    border:1px solid $grey-dark2;
    padding:15px 0px;
    @extend %box;
    text-align: center;
    cursor: pointer;
    background: $white;
    dd{margin-top:3px}
  }
}

/* ----------------------------------------------------------------
 common - heart
 -----------------------------------------------------------------*/
.heart-box-wrap{
  display: flex;
  align-items: center;
  label{margin-right: 5px;}
}
.heart-box{
  display: flex;
  align-items: center;
  i{margin-right: 3px;}
}
.icon{
  display: block;background-repeat: no-repeat;width:16px;height:16px;line-height: 16px;background-position:center;background-size:16px;
  &.heart{background-image:url(../../common_source/images/icon_heart_on.svg);}
  &.heart.off{background-image:url(../../common_source/images/icon_heart_off.svg);}
}



//iphone5
@media(max-width:320px){
  .map-list-box{
    padding: 20px 10px;
  }
  .common-list-box .common-list-list{
    padding: 6px;
  }
  .common-list-box .common-list-list .img-box {
    width: 50px;
    flex-basis: 50px;
    height: 50px;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .common-list-box .common-list-list dl{
    width: calc(100% - 55px);
  }
}