@charset "UTF-8";
.sm_btn, .md_btn, .big_btn {
	@extend %box;
	@extend %mp_none;
	@extend %hand;
	@extend %button-radius;
	font-weight: $font-weight-bold;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	text-decoration: none !important;
	width: 100%;
	&:hover, &:focus, &:active{
		text-decoration: none !important;
  		transition: all .25s ease;
	}
	i{
		position: relative;
		top: 2px;
	}
	&:disabled{
		border-color: $line-light;
		background: $line-light;
		color:#D5D0C1;
	}
}

.sm_btn {
	padding: 3px 6px;
	border-width: 1px;
	border-style: solid;
	font-size:$font-size-sm;
	min-width: 30px;
}

.md_btn {
	padding: 0.85rem;
	border-width: 1px;
	border-style: solid;
	min-width: 40px;
	border-radius: 50em;
	font-size: $font-size-base;
}

.big_btn{
	padding: 1.15rem 1rem;
	border-width: 1px;
	border-style: solid;
	font-size: $font-size-base;
	border-radius: 50em;
	font-size: $font-size-middle;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}