

.modal-open {
    overflow: hidden;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  
  .modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
  }
  
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem);
    flex-direction: column;
  }
  .modal-dialog-centered.end{
    .modal-content{
      margin-top: auto;
      width: 100%;
      position: relative;
      .sitPop{
        width: 120px;
        height: 120px;
        margin: 0 auto;
        @extend %flex-center;
        border-radius: $radius-50;
        background: $bg;
        h2{
          &::before {
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
            content: '';
            width: 37.5px;
            height: 37.5px;
            background-image: url(../images/menu_icon.png);
            background-size: 150px 75px;
            background-position: -75px -37.5px;
          }
        }
      }
      .intPop{
        h2{
          &::before {
            display: block;
            margin: 0 auto;
            margin-bottom: 13px;
            content:"\ee6e";
            font-family: "remixicon";
            font-size: $font-size-xlg;
            color:$brand;
            width: 37.5px;
            height: 37.5px;
            line-height: 37px;
            border-radius: $radius-50;
            background:$bg;
          }
        }
      }
      .modal-close{
        @extend .pointer;
        width:44px;
        height:44px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        right: 5px;
        top: 5px;
        i{
          font-size: $font-size-xlg;
        }
      }
    }
  }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }
  
  .modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    padding: 8px 0px;
    background: $brand;
    color: $white;
    width: 100%;
    text-align: center;
  }
  
  .memoArea textarea{
    border: 1px solid $line;
    padding: 8px;
    min-height: 100px;
    resize: none;
    width:100%;
  }
  
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 15px;
    text-align: center;
    width: 250px;
    h2{
      margin-bottom: 10px;
      color:$brand;
      font-size: $font-size-middle;
      font-weight: $font-weight-bold;
    }
  }
  
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    padding-top: 0px;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  
  .modal-footer > * {
    margin: 0.25rem;
  }
  .modal-footer .btn{
      min-width: 80px;
      border-radius: 2px;
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  .remix{
    margin: 10px auto 15px auto;
    i{
      font-size: 1.7rem;
      color: $brand;
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 30px;
      padding: 5px;
      line-height: 30px;
      text-align: center;
      background-color: $bg;
      border-radius: $radius-50;
    }
  }