@charset "UTF-8";

/* ----------------------------------------------------------------
 color
 -----------------------------------------------------------------*/
.bbrand{
  background:$brand;
  border-color:$brand;
  color:$white;
}
.bsky{
  background:$sky;
  border-color:$sky;
  color:$brand;
}
/* ----------------------------------------------------------------
 Helper Classes
 -----------------------------------------------------------------*/

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.vm {
  vertical-align: middle;
}

.clearFix {
  clear: both;
}

.group {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.pointer {
  cursor: pointer;
}

.rd50 {
  border-radius: $radius-50;
  padding-right: 1em;
  padding-left: 1em;
}


/* ----------------------------------------------------------------
 margin padding
 -----------------------------------------------------------------*/
.mp_none {
  margin: 0px;
  padding: 0px;
}

.mg10 {
  margin: 10px 0px;
}

.mgt0 {
  margin-top: 0px !important;
}

.mgt5 {
  margin-top: 5px !important;
}

.mgt10 {
  margin-top: 10px !important;
}
.mgt15{
  margin-top: 15px !important;
}
.mgt20 {
  margin-top: 20px !important;
}

.mgt30 {
  margin-top: 30px !important;
}

.mgt40 {
  margin-top: 40px !important;
}

.mgt60 {
  margin-top: 60px !important;
}
.mgt70 {
  margin-top: 70px !important;
}

.mgt80 {
  margin-top: 80px !important;
}

.mgb0 {
  margin-bottom: 0px !important;
}

.mgb5 {
  margin-bottom: 5px !important;
}

.mgb10 {
  margin-bottom: 10px !important;
}

.mgb20 {
  margin-bottom: 20px !important;
}

.mgl10 {
  margin-left: 10px !important;
}

.mgl20 {
  margin-left: 20px !important;
}

.mgr10 {
  margin-right: 10px !important;
}

/* ----------------------------------------------------------------
 Reset
 -----------------------------------------------------------------*/
* {
  @extend .mp_none;
  outline: none !important;
}

html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td {
  @extend .mp_none;
  font-size: $font-size-base;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
  @extend .mp_none;
}

fieldset, img, abbr, acronym {
  border: 0px;
}

ol, ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 0px;
  width: 100%;
}

address, caption, strong, em, cite {
  font-weight: $font-weight-base;
  font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

legend, caption {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: $base;
  outline: none !important;
  text-decoration : none !important;
}

button {
  border: 0px;
}

input, select, textarea, button, textarea {
  @extend %box;
  outline: none !important;
  font-family: $font-family;
   -webkit-appearance: none;
}

small {
  font-weight: $normal;
  font-size: $font-size-sm;
}



/*------------------------------------------------------------------
input
 -----------------------------------------------------------------*/
 input,
 button,
 select,
 optgroup,
 textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   color:$base;
 }
 
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color:$hint;
}
input:-ms-input-placeholder {
  color:$hint;
}
textarea::-webkit-input-placeholder {
  color:$hint;
}
textarea:-ms-input-placeholder {
  color:$hint;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none; }

/* input type number 에서 화살표 제거 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  opacity: 0;
}
input[type=number] {
  -moz-appearance: textfield; 
}

  
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-datetime-edit, .sitBox .sitDate ::-webkit-clear-button, .sitBox .sitDate ::-webkit-calendar-picker-indicator {
  position: absolute;
}

 input[type=date]::-webkit-clear-button {
  right: 1.54em;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]::-webkit-calendar-picker-indicator {
  right: 0;
  padding: 0;
}
/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none; 
}
.form-control {
  border:0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $white;
  background-clip: padding-box;
  @extend %button-radius;
  @extend %shadow;
  &.big{
    padding: 0.85rem;
    height: auto;
  }
}


select {
  word-wrap: normal;
}

.custom-select {
  border:0;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  background: $white url("../images/select_arrow.svg") no-repeat right 0.75rem center/8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend %button-radius;
  box-shadow: 1px 1px 9px rgba($yellow,0.25);
  &.big{
    padding: 0.75rem;
    border-radius: 0px;
    border-color: $line;
    height: auto;
  }
}

.custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
}



/* checkbox */
/* checkbox - id필요없음 */
.formWrap [type=checkbox],.formWrap_check [type=checkbox],.formWrap [type=radio]{
  display: none;
  + span{
    position:relative; 
    display:inline-block; 
    vertical-align: middle; 
    cursor:pointer; 
    &:before{
      clear:both; 
      display:inline-block; 
      content:'';     
      background-repeat: no-repeat;
      vertical-align: middle;
    }
  }
  &:checked + span:before{
    background-repeat: no-repeat;
  }
}
.formWrap [type=checkbox]{
  + span{ 
    &:before{
      width:28px; 
      height:28px; 
      margin-right:8px;
      background-image: url(../images/input_check.svg); 
      background-position: -28px 0;
    }
  }
  &:checked + span:before{
    background-position: 0 0;
  }
}
.formWrap_check [type=checkbox]{
  + span{ 
    &:before{
      width:24px; 
      height:24px; 
      background-image: url(../images/input_check_round.svg); 
      background-position: -24px 0;
    }
  }
  &:checked + span:before{
    background-position: 0 0;
  }
}
/* radio - id필요없음 */
.formWrap [type=radio]{
  + span{
    &:before {
      width:24px; 
      height:24px; 
      margin-right:5px;
      background-image: url(../images/input_radio.svg); 
      background-position: -24px 0;
    }
  }
  &:checked + span:before{
    background-position: 0 0;
  }
}







