@charset "UTF-8";
/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 300;
    src: local("NanumSquareRoundL"), /* computer */
      url("../fonts/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 400;
    src: local("NanumSquareRoundR"), /* computer */
      url("../fonts/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
      url("../fonts/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    src: local("NanumSquareRoundB"), /* computer */
      url("../fonts/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: local("NanumSquareRoundEB"), /* computer */
      url("../fonts/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
      url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
      url("../fonts/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//color
$white: #ffffff !default;
$base: #605344 !default;
$brand: #5E9CF8 !default;
$bg: #FFFBF0 !default;
$hint: #C0BBB0 !default;
$dis: #ECE5D0 !default;
$red: #FF2E48 !default;
$yellow: #FFDD7D !default;
$line: #ECE5D0 !default;
$line-light: #F8EFD5 !default;
$sky: #CDF0FF !default;
$purple: #AB5EE9 !default;
$purple-light: #E4C3FF !default;
$brown: #F67C4F !default;
$brown-dark: #946D00 !default;
$brown-light: #FFC2AB !default;

//../fontstyle

$font-family: 'NanumSquareRound',"Helvetica Neue","Apple SD Gothic Neo",sans-serif !default;
$font-family-t: 'TmoneyRoundWindExtraBold', 'NanumSquareRound',"Helvetica Neue","Apple SD Gothic Neo",sans-serif !default;
$font-icon: remixicon;

$font-size-sm: 0.85rem !default;
$font-size-base: 1rem !default;
$font-size-middle: 1.195rem !default;
$font-size-lg: 1.4rem !default;
$font-size-xlg: 1.7rem !default;

$font-weight-light: 100 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 800 !default;

$small-font-size: 80% !default;

$normal: normal;

//radius
$radius-50: 50em !default;
%button-radius {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


//ect

.us {
    letter-spacing: 0.7px;
    word-spacing: -0.7px;
  }

.ficon{
    font-family: "remixicon";
} 

%mp_none{
    margin:0;
    padding:0;
}

%hand{
    cursor: pointer;
}
%shadow{
    box-shadow: 1px 1px 9px rgba($yellow,0.25);
}
%box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%top50 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

%left50 {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

%hover{
    &:active, &:focus, &:hover{
        background: $bg;
    }
}

%group {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%table{
    display: table;
    width: 100%;
}

%cell{
    display: table-cell;
    vertical-align: middle;
}

%flex{
    display: flex;
    align-items: center;
}

%flex-default{
    display: flex;
}

%flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}