@charset "UTF-8";
/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), url("../fonts/NanumSquareRoundL.eot"), url("../fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareRoundL.woff2") format("woff2"), url("../fonts/NanumSquareRoundL.woff") format("woff"), url("../fonts/NanumSquareRoundL.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.eot"), url("../fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareRoundR.woff2") format("woff2"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.eot"), url("../fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareRoundB.woff2") format("woff2"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"), url("../fonts/NanumSquareRoundEB.eot"), url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), url("../fonts/NanumSquareRoundEB.woff") format("woff"), url("../fonts/NanumSquareRoundEB.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.form-control, .custom-select, .sm_btn, .md_btn, .big_btn {
  border-radius: 8px;
}

.us {
  letter-spacing: 0.7px;
  word-spacing: -0.7px;
}

.ficon {
  font-family: "remixicon";
}

.sm_btn, .md_btn, .big_btn {
  margin: 0;
  padding: 0;
}

.sm_btn, .md_btn, .big_btn {
  cursor: pointer;
}

.form-control, .join_child [type=radio] + span {
  -webkit-box-shadow: 1px 1px 9px rgba(255, 221, 125, 0.25);
          box-shadow: 1px 1px 9px rgba(255, 221, 125, 0.25);
}

input, select, textarea, button, .sm_btn, .md_btn, .big_btn, body, .centerThis, #index_content .inTop .imgWrap .bubble {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.centerThis {
  zoom: 1;
}

.centerThis:before, .centerThis:after {
  content: "";
  display: table;
}

.centerThis:after {
  clear: both;
}

body, .loginWrap, .agreeBox dl, .joinInt .form-group, .joinInt .form-flex, #index_content .inTop .nameCard, #index_content .inTop .nameCard dl, #index_content .inBot .noteBox dl, #index_content .linkBox ul, .sidenav .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginWrap .loginBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog-centered.end .modal-content .sitPop, #header h1, #header h1 a, #header .barBtn, .join_childWrap, #index_content .linkBox ul li, .sidenav .navSlide .owl-carousel .item dl dt, .videoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ----------------------------------------------------------------
 color
 -----------------------------------------------------------------*/
.bbrand {
  background: #5E9CF8;
  border-color: #5E9CF8;
  color: #ffffff;
}

.bsky {
  background: #CDF0FF;
  border-color: #CDF0FF;
  color: #5E9CF8;
}

/* ----------------------------------------------------------------
 Helper Classes
 -----------------------------------------------------------------*/
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.vm {
  vertical-align: middle;
}

.clearFix {
  clear: both;
}

.group {
  zoom: 1;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.pointer, .modal-dialog-centered.end .modal-content .modal-close {
  cursor: pointer;
}

.rd50 {
  border-radius: 50em;
  padding-right: 1em;
  padding-left: 1em;
}

/* ----------------------------------------------------------------
 margin padding
 -----------------------------------------------------------------*/
.mp_none, *, html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td, header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  margin: 0px;
  padding: 0px;
}

.mg10 {
  margin: 10px 0px;
}

.mgt0 {
  margin-top: 0px !important;
}

.mgt5 {
  margin-top: 5px !important;
}

.mgt10 {
  margin-top: 10px !important;
}

.mgt15 {
  margin-top: 15px !important;
}

.mgt20 {
  margin-top: 20px !important;
}

.mgt30 {
  margin-top: 30px !important;
}

.mgt40 {
  margin-top: 40px !important;
}

.mgt60 {
  margin-top: 60px !important;
}

.mgt70 {
  margin-top: 70px !important;
}

.mgt80 {
  margin-top: 80px !important;
}

.mgb0 {
  margin-bottom: 0px !important;
}

.mgb5 {
  margin-bottom: 5px !important;
}

.mgb10 {
  margin-bottom: 10px !important;
}

.mgb20 {
  margin-bottom: 20px !important;
}

.mgl10 {
  margin-left: 10px !important;
}

.mgl20 {
  margin-left: 20px !important;
}

.mgr10 {
  margin-right: 10px !important;
}

/* ----------------------------------------------------------------
 Reset
 -----------------------------------------------------------------*/
* {
  outline: none !important;
}

html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td {
  font-size: 1rem;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

fieldset, img, abbr, acronym {
  border: 0px;
}

ol, ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 0px;
  width: 100%;
}

address, caption, strong, em, cite {
  font-weight: 400;
  font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

legend, caption {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: #605344;
  outline: none !important;
  text-decoration: none !important;
}

button {
  border: 0px;
}

input, select, textarea, button, textarea {
  outline: none !important;
  font-family: "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  -webkit-appearance: none;
}

small {
  font-weight: normal;
  font-size: 0.85rem;
}

/*------------------------------------------------------------------
input
 -----------------------------------------------------------------*/
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #605344;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #C0BBB0;
}

input:-ms-input-placeholder {
  color: #C0BBB0;
}

textarea::-webkit-input-placeholder {
  color: #C0BBB0;
}

textarea:-ms-input-placeholder {
  color: #C0BBB0;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-datetime-edit, .sitBox .sitDate ::-webkit-clear-button, .sitBox .sitDate ::-webkit-calendar-picker-indicator {
  position: absolute;
}

input[type=date]::-webkit-clear-button {
  right: 1.54em;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  right: 0;
  padding: 0;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

.form-control {
  border: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  background-clip: padding-box;
}

.form-control.big {
  padding: 0.85rem;
  height: auto;
}

select {
  word-wrap: normal;
}

.custom-select {
  border: 0;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  background: #ffffff url("../images/select_arrow.svg") no-repeat right 0.75rem center/8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 1px 1px 9px rgba(255, 221, 125, 0.25);
          box-shadow: 1px 1px 9px rgba(255, 221, 125, 0.25);
}

.custom-select.big {
  padding: 0.75rem;
  border-radius: 0px;
  border-color: #ECE5D0;
  height: auto;
}

.custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
}

/* checkbox */
/* checkbox - id필요없음 */
.formWrap [type=checkbox], .formWrap_check [type=checkbox], .formWrap [type=radio] {
  display: none;
}

.formWrap [type=checkbox] + span, .formWrap_check [type=checkbox] + span, .formWrap [type=radio] + span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.formWrap [type=checkbox] + span:before, .formWrap_check [type=checkbox] + span:before, .formWrap [type=radio] + span:before {
  clear: both;
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  vertical-align: middle;
}

.formWrap [type=checkbox]:checked + span:before, .formWrap_check [type=checkbox]:checked + span:before, .formWrap [type=radio]:checked + span:before {
  background-repeat: no-repeat;
}

.formWrap [type=checkbox] + span:before {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  background-image: url(../images/input_check.svg);
  background-position: -28px 0;
}

.formWrap [type=checkbox]:checked + span:before {
  background-position: 0 0;
}

.formWrap_check [type=checkbox] + span:before {
  width: 24px;
  height: 24px;
  background-image: url(../images/input_check_round.svg);
  background-position: -24px 0;
}

.formWrap_check [type=checkbox]:checked + span:before {
  background-position: 0 0;
}

/* radio - id필요없음 */
.formWrap [type=radio] + span:before {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url(../images/input_radio.svg);
  background-position: -24px 0;
}

.formWrap [type=radio]:checked + span:before {
  background-position: 0 0;
}

.sm_btn, .md_btn, .big_btn {
  font-weight: 800;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  text-decoration: none !important;
  width: 100%;
}

.sm_btn:hover, .sm_btn:focus, .sm_btn:active, .md_btn:hover, .md_btn:focus, .md_btn:active, .big_btn:hover, .big_btn:focus, .big_btn:active {
  text-decoration: none !important;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.sm_btn i, .md_btn i, .big_btn i {
  position: relative;
  top: 2px;
}

.sm_btn:disabled, .md_btn:disabled, .big_btn:disabled {
  border-color: #F8EFD5;
  background: #F8EFD5;
  color: #D5D0C1;
}

.sm_btn {
  padding: 3px 6px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.85rem;
  min-width: 30px;
}

.md_btn {
  padding: 0.85rem;
  border-width: 1px;
  border-style: solid;
  min-width: 40px;
  border-radius: 50em;
  font-size: 1rem;
}

.big_btn {
  padding: 1.15rem 1rem;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  border-radius: 50em;
  font-size: 1.195rem;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    -webkit-transition: none;
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}

.nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-item:first-child .nav-link {
  margin-left: 0px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-left: 0px;
  margin-left: -0.05em;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100% - 1rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-dialog-centered.end .modal-content {
  margin-top: auto;
  width: 100%;
  position: relative;
}

.modal-dialog-centered.end .modal-content .sitPop {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50em;
  background: #FFFBF0;
}

.modal-dialog-centered.end .modal-content .sitPop h2::before {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  content: '';
  width: 37.5px;
  height: 37.5px;
  background-image: url(../images/menu_icon.png);
  background-size: 150px 75px;
  background-position: -75px -37.5px;
}

.modal-dialog-centered.end .modal-content .intPop h2::before {
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
  content: "\ee6e";
  font-family: "remixicon";
  font-size: 1.7rem;
  color: #5E9CF8;
  width: 37.5px;
  height: 37.5px;
  line-height: 37px;
  border-radius: 50em;
  background: #FFFBF0;
}

.modal-dialog-centered.end .modal-content .modal-close {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal-dialog-centered.end .modal-content .modal-close i {
  font-size: 1.7rem;
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 250px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  padding: 8px 0px;
  background: #5E9CF8;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.memoArea textarea {
  border: 1px solid #ECE5D0;
  padding: 8px;
  min-height: 100px;
  resize: none;
  width: 100%;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 30px 15px;
  text-align: center;
  width: 250px;
}

.modal-body h2 {
  margin-bottom: 10px;
  color: #5E9CF8;
  font-size: 1.195rem;
  font-weight: 800;
}

.modal-footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 15px;
  padding-top: 0px;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-footer .btn {
  min-width: 80px;
  border-radius: 2px;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.remix {
  margin: 10px auto 15px auto;
}

.remix i {
  font-size: 1.7rem;
  color: #5E9CF8;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  padding: 5px;
  line-height: 30px;
  text-align: center;
  background-color: #FFFBF0;
  border-radius: 50em;
}

/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 13px;
  overflow-x: hidden;
}

body {
  font-family: "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  line-height: 1.168;
  letter-spacing: -0.55px;
  word-spacing: -0.5px;
  color: #605344;
  -webkit-overflow-scrolling: touch;
  padding-top: 1px;
  margin-top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFBF0;
}

.centerThis {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 320px) {
  .centerThis {
    padding: 0 13px;
  }
}

hr {
  border: 0;
  height: 1px;
  background: #F8EFD5;
  margin: 30px 0;
}

.wrText {
  margin-top: 3px;
  color: #FF2E48;
  font-size: 0.85rem;
}

/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-weight: 800;
}

#header {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #F8EFD5;
}

#header.login {
  border-bottom: 0px;
}

#header.index {
  background: #C0E7F8;
  border-bottom: 1px solid rgba(94, 156, 248, 0.1);
}

#header h1 {
  height: 50px;
  font-size: 1.195rem;
  font-weight: 800;
}

#header h1 a {
  height: 50px;
}

#header h1 img {
  max-height: 30px;
}

#header .barBtn {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

#header .barBtn.btnBack {
  left: 0px;
  background-image: url(../images/head_icon_back.svg);
}

#header .barBtn.btnMenu {
  right: 0px;
  background-image: url(../images/head_icon_menu.svg);
}

#content {
  padding: 20px 0px;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.btnArea {
  margin-top: 40px;
}

.ttBox h2 {
  font-size: 1.4rem;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  color: #5E9CF8;
  word-break: keep-all;
}

/* ----------------------------------------------------------------
 login
 -----------------------------------------------------------------*/
.loginWrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  overflow-y: auto;
  overflow-x: hidden;
}

.loginWrap .imgBox {
  display: block;
  width: 100%;
  height: 283px;
  background-image: url(../images/login_bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}

.loginWrap .imgBox .inn {
  height: 100%;
  background-image: url(../images/login_img_blue.png);
  background-repeat: no-repeat;
  background-size: 128% auto;
  background-position: center bottom;
}

.loginWrap .imgBox .inn.green {
  background-image: url(../images/login_img_green.png);
}

.loginWrap .loginBot {
  padding-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #FFDD7D;
  width: 100%;
}

.loginWrap .loginBot .intBoxWrap .intBox:first-child {
  margin-bottom: 8px;
}

.loginWrap .btnArea {
  margin-top: 24px;
}

.loginWrap .util {
  margin-top: 12px;
  text-align: right;
}

.loginWrap .util span {
  margin-left: 15px;
}

.loginWrap .utilBot {
  margin: 24px auto;
  width: 230px;
  display: table;
  text-align: center;
}

.loginWrap .utilBot span {
  margin: 0 12px;
}

.loginWrap .utilBot span:first-child {
  margin-left: 0px;
}

.loginWrap .utilBot span:last-child {
  margin-right: 0px;
}

@media (min-width: 411px) {
  .loginWrap .imgBox {
    height: 330px;
  }
}

@media (min-height: 737px) {
  .loginWrap .imgBox {
    height: 40vh;
  }
}

/* ----------------------------------------------------------------
 join
 -----------------------------------------------------------------*/
.agreeBox {
  margin-top: 30px;
}

.agreeBox dl {
  padding: 5px 0px;
}

.agreeBox dl a {
  text-decoration: underline !important;
}

.agreeBox dl dd {
  margin-left: auto;
}

.agreeBox dl.tt {
  padding: 10px 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid #F8EFD5;
}

.agreeBox dl.tt dt {
  font-size: 1.195rem;
}

.joinInt .form-group span {
  margin-left: 8px;
  min-width: 100px;
}

.joinInt .form-flex span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 8px;
}

.joinInt .form-flex span:first-child {
  padding-left: 0px;
}

.joinInt dl {
  margin-top: 25px;
}

.joinInt dl dt {
  margin-bottom: 10px;
}

.joinInt dl dd {
  margin-bottom: 8px;
}

.joinInt dl dd:last-child {
  margin-bottom: 0px;
}

.btnChildAdd {
  margin-top: 15px;
}

.btnChildAdd a {
  background: #CDF0FF;
  border-color: #CDF0FF;
  color: #5E9CF8;
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50em;
  padding: 3px 4px;
}

.btnChildAdd a span {
  border: 2px dashed #ffffff;
  font-size: 1.195rem;
}

.join_childWrap li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px;
}

.join_childWrap li:first-child {
  padding-left: 0px;
}

.join_childWrap li:last-child {
  padding-right: 0px;
}

.join_child [type=radio] {
  cursor: pointer;
}

.join_child [type=radio] + span {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 170px;
  max-width: 162px;
  background-image: url(../images/join_btn_boy.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  border-radius: 24px;
  overflow: hidden;
}

.join_child [type=radio]:checked + span {
  background-image: url(../images/join_btn_boy_on.svg);
}

.join_child.girl [type=radio] + span {
  background-image: url(../images/join_btn_girl.svg);
}

.join_child.girl [type=radio]:checked + span {
  background-image: url(../images/join_btn_girl_on.svg);
}

.join_fin {
  text-align: center;
}

.join_fin img {
  display: block;
  margin: 30px auto;
  max-width: 290px;
}

.join_fin h2 {
  margin-top: 15px;
  font-size: 1.4rem;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  color: #5E9CF8;
  word-break: keep-all;
}

.join_fin h3 {
  margin-top: 15px;
  word-break: keep-all;
  font-weight: 800;
}

.join_fin .btnArea {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.join_fin .btnArea p {
  margin-top: 10px;
}

.join_fin .btnArea p:first-child {
  margin-top: 0px;
}

.join_fin .noData {
  margin: 24px auto;
}

/* ----------------------------------------------------------------
 index
 -----------------------------------------------------------------*/
#index_content {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

#index_content .inTop {
  min-height: 280px;
  padding-top: 16px;
  display: block;
  -webkit-border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
  background: #C0E7F8 url(../images/index_img_cloud.svg) no-repeat center center;
  background-size: 100%;
  position: relative;
}

#index_content .inTop img {
  width: 100%;
  max-height: 100%;
}

#index_content .inTop .index_img_deco {
  position: absolute;
  bottom: 0px;
  left: 20px;
  display: block;
  width: 140px;
  height: 68px;
}

#index_content .inTop .index_img_blue {
  position: absolute;
  bottom: -15px;
  right: 20px;
  display: block;
  width: 132px;
  height: 169px;
}

#index_content .inTop .nameCard {
  margin-bottom: 16px;
  background: #5E9CF8;
  border-radius: 14px;
  padding: 10px 16px;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
}

#index_content .inTop .nameCard dl {
  color: #ffffff;
}

#index_content .inTop .nameCard dl dt {
  width: 40px;
  height: 40px;
  border-radius: 50em;
  overflow: hidden;
  padding: 2px;
  border: 2px dashed #CDF0FF;
}

#index_content .inTop .nameCard dl dt span {
  width: 40px;
  height: 40px;
  border-radius: 50em;
  overflow: hidden;
}

#index_content .inTop .nameCard dl dt span img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50em;
  -o-object-fit: cover;
     object-fit: cover;
}

#index_content .inTop .nameCard dl dd {
  margin-left: 10px;
}

#index_content .inTop .nameCard dl dd h2 {
  font-size: 1.195rem;
}

#index_content .inTop .nameCard dl dd h2 small {
  margin-left: 3px;
}

#index_content .inTop .nameCard dl dd h3 {
  margin-top: 6px;
  color: #CDF0FF;
  font-weight: 800;
  font-family: "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
}

#index_content .inTop .nameCard dl dd h3 span {
  margin-right: 5px;
}

@media (max-width: 320px) {
  #index_content .inTop .nameCard dl dd h3 span {
    display: block;
  }
}

#index_content .inTop .nameCard .btnLink {
  margin-left: auto;
}

#index_content .inTop .nameCard .btnLink a {
  background: #ffffff;
  padding: 8px 1.3rem;
  border-radius: 50em;
  color: #5E9CF8;
  -webkit-box-shadow: 0px 3px 9px #5E9CF8;
          box-shadow: 0px 3px 9px #5E9CF8;
  padding-right: 2rem;
  background-image: url(../images/link_arrow.svg);
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: 5px 9px;
}

#index_content .inTop .imgWrap .bubble {
  z-index: 3;
  position: relative;
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 18px;
  border: #BBEBFF solid 3px;
}

#index_content .inTop .imgWrap .bubble h2 {
  font-size: 1.4rem;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
}

#index_content .inTop .imgWrap .bubble h3 {
  margin-top: 8px;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  color: #5E9CF8;
}

#index_content .inTop .imgWrap .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 11px 9px 0;
  border-color: rgba(255, 255, 255, 0.7) transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -11px;
  left: 116px;
}

#index_content .inTop .imgWrap .bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 11px 0;
  border-color: #BBEBFF transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -16px;
  left: 114px;
}

#index_content .inBot {
  padding-bottom: 20px;
}

#index_content .inBot .noteBox {
  position: relative;
  margin-top: 30px;
  background: #FFDD7D;
  border-radius: 16px;
  padding: 30px 40px 20px 40px;
}

#index_content .inBot .noteBox .deco, #index_content .inBot .noteBox .deco2 {
  position: absolute;
  left: 10%;
  top: -5px;
  z-index: 1;
  width: 54px;
  height: 22px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url(../images/note_deco.svg);
}

#index_content .inBot .noteBox .deco2 {
  right: 10%;
  left: inherit;
}

#index_content .inBot .noteBox dl {
  padding: 0 13px;
  margin-bottom: 8px;
}

@media (max-width: 320px) {
  #index_content .inBot .noteBox dl {
    padding: 0px;
  }
}

#index_content .inBot .noteBox dl dd {
  margin-left: auto;
}

#index_content .inBot .noteBox dl dd .date {
  font-size: 1.4rem;
  color: #946D00;
  line-height: 24px;
  position: relative;
  top: 2px;
}

#index_content .inBot .noteBox dl dd em {
  display: inline-block;
  padding: 0px 8px;
  height: 24px;
  line-height: 24px;
  border-radius: 50em;
  background: #D1B28E;
  color: #ffffff;
  margin-left: 6px;
}

#index_content .inBot .noteBox dl.last {
  margin-bottom: 0px;
}

#index_content .inBot .noteBox dl.last dd .date {
  color: #5E9CF8;
}

#index_content .inBot .noteBox dl.last dd em {
  background: #5E9CF8;
}

#index_content .inBot .noteBox .btnBox {
  margin-top: 16px;
}

#index_content .linkBox ul {
  margin-top: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#index_content .linkBox ul::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

#index_content .linkBox ul li {
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  width: calc(-46px + 50%);
  padding: 0px 20px;
  margin-right: 12px;
  border-radius: 14px;
  height: 64px;
  font-size: 1.195rem;
  font-family: "TmoneyRoundWindExtraBold", "NanumSquareRound", "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  background-size: auto 64px;
}

#index_content .linkBox ul li:last-child {
  margin-right: 0;
  background: #E4C3FF;
  color: #AB5EE9;
  background-image: url(../images/index_ban_pp.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

#index_content .linkBox ul li:first-child {
  background: #FFC2AB;
  color: #F67C4F;
  background-image: url(../images/index_ban_bw.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

/* ----------------------------------------------------------------
 sidenav
 -----------------------------------------------------------------*/
.sidenav {
  width: 312px;
  background: #FFFBF0;
  border-radius: 20px 0px 0px 20px;
  padding: 50px 0;
}

.sidenav .navSlide {
  padding-left: 30px;
}

.sidenav .navSlide .owl-carousel {
  background: #FFDD7D;
  border-radius: 28px 0px 0px 28px;
  padding: 10px 0px;
}

.sidenav .navSlide .owl-carousel .item dl {
  opacity: 0.5;
}

.sidenav .navSlide .owl-carousel .item dl dt {
  height: 65px;
}

.sidenav .navSlide .owl-carousel .item dl dd {
  margin-top: 0px;
  text-align: center;
}

.sidenav .navSlide .owl-carousel .item dl.add, .sidenav .navSlide .owl-carousel .item dl.active {
  opacity: 1;
}

.sidenav .navSlide .owl-carousel .item dl.add img {
  width: 65px;
  height: 65px;
}

.sidenav .navSlide .owl-carousel .item dl.active .inn {
  width: 52px;
  height: 52px;
  border-radius: 50em;
  overflow: hidden;
  padding: 2px;
  border: 2px dashed rgba(246, 124, 79, 0.5);
}

.sidenav .navSlide .owl-carousel .item .inn span {
  width: 52px;
  height: 52px;
  border-radius: 50em;
  overflow: hidden;
}

.sidenav .navSlide .owl-carousel .item .inn img {
  width: 52px;
  height: 52px;
  display: inline-block;
  border-radius: 50em;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidenav .navMenu {
  padding: 28px 20px 28px 28px;
  text-align: center;
}

.sidenav .navMenu dl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidenav .navMenu dl:first-child {
  color: #5E9CF8;
}

.sidenav .navMenu dl:nth-child(2) {
  color: #F67C4F;
}

.sidenav .navMenu dl:nth-child(3) {
  color: #AB5EE9;
}

.sidenav .navMenu dl dd {
  margin-top: 6px;
}

.sidenav .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 28px 10rem 28px;
}

.sidenav .nav li {
  display: block;
  border-bottom: 1px solid #F8EFD5;
}

.sidenav .nav li a {
  display: block;
  padding: 1.5rem 0px;
}

.sidenav .nav li:first-child {
  border-top: 1px solid #F8EFD5;
}

/* ----------------------------------------------------------------
 video
 -----------------------------------------------------------------*/
.videoWrap {
  height: 100%;
}

.video {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video .video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}

.video iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */