@charset "UTF-8";
@import "variables";
@import "reset";
@import "buttons";
@import "tab";
@import "modal";

/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
 html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 13px;
  overflow-x:hidden;
}
body {
  font-family: $font-family;
  line-height: 1.168;
  letter-spacing: -0.55px;
  word-spacing: -0.5px;
  color: $base;
  -webkit-overflow-scrolling: touch;
  padding-top: 1px;
  margin-top: -1px;
  @extend %box;
  display: flex;
  flex-direction: column;
  background: $bg;
}
.centerThis{
  @extend %box;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  @extend %group;
  width: 100%;
}
@media(max-width:320px){
  .centerThis{
    padding: 0 13px;
  }
}
hr{
  border: 0;
  height: 1px;
  background: $line-light;
  margin: 30px 0;
}
.wrText{
  margin-top: 3px;
  color:$red;
  font-size: $font-size-sm;
}
/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
 html, body {
  margin:0;
  height:100%;
  min-height:100%;
  font-weight:$font-weight-bold;
}
body {
  @extend %flex;
}
#header{
  flex-basis: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $line-light;
  &.login{
    border-bottom: 0px;
  }
  &.index{
    background:#C0E7F8;
    border-bottom: 1px solid rgba($brand,0.1);
  }
  h1{
    height: 50px;
    @extend %flex-center;
    font-size: $font-size-middle;
    font-weight: $font-weight-bold;
    a{
      height: 50px;
      @extend %flex-center;
    }
    img{
      max-height: 30px;
    }
  }

  .barBtn{
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    @extend %flex-center;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    &.btnBack{
      left: 0px;
      background-image: url(../images/head_icon_back.svg);
    }
    &.btnMenu{
      right: 0px;
      background-image: url(../images/head_icon_menu.svg);
    }
  }
}

#content{
    padding: 20px 0px;
    flex: 9;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.btnArea{
  margin-top: 40px;
}
.ttBox{
  h2{
    font-size: $font-size-lg;
    font-family: $font-family-t;
    color:$brand;
    word-break: keep-all;
  }
}

/* ----------------------------------------------------------------
 login
 -----------------------------------------------------------------*/
 .loginWrap{
  @extend %flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 9;
  overflow-y: auto;
  overflow-x: hidden;
  .imgBox{
    display: block;
    width: 100%;
    height: 283px;
    background-image: url(../images/login_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    .inn{
      height: 100%;
      background-image: url(../images/login_img_blue.png);
      background-repeat: no-repeat;
      background-size: 128% auto;
      background-position: center bottom;
      &.green{
         background-image: url(../images/login_img_green.png);
      }
    }
  }
  .loginBot{
    @extend %flex-default;
    padding-top: 20px;
    flex: 1;
    background: $yellow;
    width:100%;
    .intBoxWrap{
      .intBox:first-child{
        margin-bottom: 8px;
      }
    }
  }
  .btnArea{
    margin-top: 24px;
  }
  .util{
    margin-top: 12px;
    text-align: right;
    span{
      margin-left: 15px;
    }
  }
  .utilBot{
    margin: 24px auto;
    width: 230px;
    display: table;
    text-align: center;
    span{
      margin: 0 12px;
      &:first-child{
        margin-left: 0px;
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}

@media(min-width: 411px){
  .loginWrap{
    .imgBox{
      height: 330px;
    }
  }
}
@media(min-height: 737px){
  .loginWrap{
    .imgBox{
      height: 40vh;
    }
  }
}


/* ----------------------------------------------------------------
 join
 -----------------------------------------------------------------*/
.agreeBox{
  margin-top: 30px;
  dl{
    padding: 5px 0px;
    @extend %flex;
    a{
      text-decoration: underline !important;
    }
    dd{
      margin-left: auto;
    }
    &.tt{
      padding: 10px 0px;
      margin-bottom: 5px;
      border-bottom: 1px solid $line-light;
      dt{
        font-size: $font-size-middle;
      }
    }
  }
}
.joinInt{
  .form-group{
    @extend %flex;
    span{
      margin-left: 8px;
      min-width: 100px;
    }
  }
  .form-flex{
    @extend %flex;
    span{
      flex: 1;
      padding-left: 8px;
      &:first-child{
        padding-left: 0px;
      }
    }
  }
  dl{
    margin-top: 25px;
    dt{
      margin-bottom: 10px;
    }
    dd{
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
}
.btnChildAdd{
  margin-top: 15px;
  a{
  background:$sky;
  border-color:$sky;
  color:$brand;
  width: 200px;
  display: block;
  margin: 0 auto; 
  border-radius: 50em;
  padding: 3px 4px;
  span{
    border: 2px dashed $white;
    font-size: $font-size-middle;
    }
  }
}

.join_childWrap{
  @extend %flex-center;
  li{
    flex: 1;
    padding: 0 5px;
    &:first-child{
      padding-left:0px;
    }
    &:last-child{
      padding-right:0px;
    }
  }
}
.join_child [type=radio]{ 
  cursor: pointer;
  + span{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 170px;
    max-width: 162px;
    background-image: url(../images/join_btn_boy.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    border-radius: 24px;
    overflow:hidden;
    @extend %shadow;
  }
  &:checked + span {
    background-image: url(../images/join_btn_boy_on.svg);
  }
}
.join_child.girl [type=radio]{
  + span{
    background-image: url(../images/join_btn_girl.svg);
  }
  &:checked + span {
    background-image: url(../images/join_btn_girl_on.svg);
  }
}

.join_fin{
  text-align: center;
  img{
    display: block;
    margin: 30px auto;
    max-width: 290px;
  }
  h2{
    margin-top: 15px;
    font-size: $font-size-lg;
    font-family: $font-family-t;
    color:$brand;
    word-break: keep-all;
  }
  h3{
    margin-top: 15px;
    word-break: keep-all;
    font-weight: $font-weight-bold;
  }
  .btnArea{
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-top: 10px;
      &:first-child{
        margin-top: 0px;
      }
    }
  }
  .noData{
    margin: 24px auto;
  }
}


/* ----------------------------------------------------------------
 index
 -----------------------------------------------------------------*/
#index_content{
  flex: 9;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  .inTop{
    min-height: 280px;
    padding-top: 16px;
    display: block;
    -webkit-border-bottom-right-radius: 28px;
    -webkit-border-bottom-left-radius: 28px;
    -moz-border-radius-bottomright: 28px;
    -moz-border-radius-bottomleft: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    background:#C0E7F8 url(../images/index_img_cloud.svg) no-repeat center center;
    background-size: 100%;
    position: relative;
    img{
      width: 100%;
      max-height: 100%;
    }
    .index_img_deco{
      position: absolute;
      bottom: 0px;
      left: 20px;
      display: block;
      width: 140px;
      height: 68px;
    }
    .index_img_blue{
      position: absolute;
      bottom: -15px;
      right: 20px;
      display: block;
      width: 132px;
      height: 169px;
    }
    
  .nameCard{
    margin-bottom: 16px;
    background: $brand;
    border-radius: 14px;
    padding: 10px 16px;
    @extend %flex;
    font-family: $font-family-t;
    dl{
      @extend %flex;
      color:$white;
      dt{
        width: 40px;
        height: 40px;
        border-radius: 50em;
        overflow:hidden;
        padding: 2px;
        border: 2px dashed $sky;
        span{
          width: 40px;
          height: 40px;
          border-radius: 50em;
          overflow:hidden;
          img{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50em;
            object-fit: cover;
          }
        }
      }
      dd{
        margin-left: 10px;
        h2{
          font-size: $font-size-middle;
          small{
            margin-left: 3px;
          }
        }
        h3{
          margin-top: 6px;
          color:$sky;
          font-weight: $font-weight-bold;
          font-family: $font-family;
          span{
            margin-right: 5px;
          }
          @media(max-width:320px){
              span{
                display: block;
              }
           }
        }
      
      }
    }
    .btnLink{
      margin-left: auto;
      a{
        background: $white;
        padding: 8px 1.3rem;
        border-radius: 50em;
        color:$brand;
        box-shadow: 0px 3px 9px $brand;
        padding-right: 2rem;
        background-image: url(../images/link_arrow.svg);
        background-repeat: no-repeat;
        background-position: 80% center;
        background-size: 5px 9px;
      }
    }
  }
  .imgWrap{
    .bubble{
      z-index: 3;
      position: relative;
      width: 100%;
      padding: 15px;
      @extend %box;
      background: rgba($white,0.7);
      border-radius: 18px;
      border: #BBEBFF solid 3px;
        h2{
          font-size: $font-size-lg;
          font-family: $font-family-t;
        }
        h3{
          margin-top: 8px;
          font-family: $font-family-t;
          color:$brand;
        }
      }

      .bubble:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 11px 9px 0;
      border-color: rgba($white,0.7) transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -11px;
      left: 116px;
      }

      .bubble:before{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 13px 11px 0;
      border-color: #BBEBFF transparent;
      display: block;
      width: 0;
      z-index: 0;
      bottom: -16px;
      left: 114px;
      }
    }
  }
 
  .inBot{
    padding-bottom: 20px;
    .noteBox{
      position: relative;
      margin-top: 30px;
      background:#FFDD7D;
      border-radius: 16px;
      padding: 30px 40px 20px 40px;
      .deco, .deco2{
        position: absolute;
        left: 10%;
        top:-5px;
        z-index: 1;
        width: 54px;
        height:22px;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-image: url(../images/note_deco.svg);
      }
      .deco2{
        right: 10%;
        left: inherit;
      }
      dl{
        padding: 0 13px;
        @media (max-width:320px) {
          padding: 0px;
        }
        @extend %flex;
        margin-bottom: 8px;
        dd{
          margin-left: auto;
          .date{
            font-size: $font-size-lg;
            color:$brown-dark;
            line-height: 24px;
            position: relative;
            top: 2px;
          }
          em{
            display: inline-block;
            padding: 0px 8px;
            height: 24px;
            line-height: 24px;
            border-radius: 50em;
            background:#D1B28E;
            color:$white;
            margin-left: 6px;
          }
        }
        &.last{
          margin-bottom: 0px;
          dd{
            .date{
              color:$brand;
            }
            em{
              background:$brand;
            }
          }
        }
      }
      .btnBox{
        margin-top: 16px;
      }
    }
  }
  .linkBox{
    ul{
      margin-top: 12px;
      @extend %flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &::after {
        content: '';
        flex: auto;
      }
      li{
        @extend %flex-center;
        justify-content: inherit;
        width: calc(-46px + 50%);
        padding: 0px 20px;
        margin-right: 12px;
        border-radius: 14px;
        height: 64px;
        font-size: $font-size-middle;
        font-family: $font-family-t;
        background-size: auto 64px;
        &:last-child{
          margin-right: 0;
          background:$purple-light;
          color:$purple;
          background-image: url(../images/index_ban_pp.svg);
          background-repeat: no-repeat;
          background-position: right center;
        }
        &:first-child{
          background:$brown-light;
          color: $brown;
          background-image: url(../images/index_ban_bw.svg);
          background-repeat: no-repeat;
          background-position: right center;
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
 sidenav
 -----------------------------------------------------------------*/
 .sidenav{
   width: 312px;
   background: $bg;
   border-radius: 20px 0px 0px 20px;
   padding: 50px 0;
   .navSlide{
    padding-left: 30px;
     .owl-carousel{
      background:$yellow;
      border-radius: 28px 0px 0px 28px;
      padding: 10px 0px;
      .item{
        dl{
          opacity: 0.5;
          dt{
            @extend %flex-center;
            height: 65px;
          }
          dd{
            margin-top: 0px;
            text-align: center;
          }
          &.add, &.active{
            opacity: 1;
          }
          &.add{
            img{
              width: 65px;
              height: 65px;
            }
          }
          &.active{
            .inn{
              width: 52px;
              height: 52px;
              border-radius: 50em;
              overflow: hidden;
              padding: 2px;
              border: 2px dashed rgba($brown,0.5);
            }
          }
        }
        .inn{
          span{
            width: 52px;
            height: 52px;
            border-radius: 50em;
            overflow: hidden;
          }
          img{
            width: 52px;
            height: 52px;
            display: inline-block;
            border-radius: 50em;
            object-fit: cover;
          }
        }
      }
     }
   }
   .navMenu{
     padding: 28px 20px 28px 28px; 
     @extend %flex;
     text-align: center;
     dl{
       flex: 1;
       &:first-child{
         color:$brand;
       }
       &:nth-child(2){
         color:$brown;
       }
       &:nth-child(3){
        color:$purple;
      }
       dd{
         margin-top: 6px;
       }
     }
   }
   .nav{
     flex-direction: column;
     padding: 0px 28px 10rem 28px;
     li{
       display: block;
       border-bottom: 1px solid $line-light;
       a{
         display: block;
         padding: 1.5rem 0px;
       }
       &:first-child{
        border-top: 1px solid $line-light;
       }
     }
   }
 }


 
/* ----------------------------------------------------------------
 video
 -----------------------------------------------------------------*/
 .videoWrap{
   height: 100%;
   @extend %flex-center;
 }
 .video {
  width: 100%;
  box-sizing: border-box;
  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
  }
  iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
