

.modal-open {
    overflow: hidden;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  
  .modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  
  .modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
  }
  
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  
  .modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem);
    flex-direction: column;
  }
  .modal-dialog-centered.end{
    .modal-content{
      margin-top: auto;
      width: 100%;
      position: relative;
      .modal-close{
        @extend .pointer;
        width:44px;
        height:44px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        right: 5px;
        top: 5px;
        i{
          font-size: $font-size-xlg;
        }
      }
    }
  }
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
  }
  
  .modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    .inn{padding: 50px;}
    &.big{
      width: 600px;
    }
    &.x-big{
      width: 800px;
    }

   .modal-btn-close{
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    height:30px;
    background:url(../../common_source/images/icon_close_black.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    padding: 10px;
   }
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    width: 100%;
  }
  .modal-head{
    text-align:left;
    margin-bottom: 20px;
   h2{
    font-size:$font-size-xxlg;
   }
   h3{
     font-size:$font-size-middle;
     font-weight:$font-weight-light;
     margin-top:5px;
   }
  }
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    padding-top: 0px;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  
  .modal-footer > * {
    margin: 0.25rem;
  }
  .modal-footer .btn{
      min-width: 80px;
      border-radius: 2px;
  }
  .modal-footer-bottom{
    display: flex;
    &.type2{
      button{border-bottom: 0;}
      button:first-child{
        border-left:0;
        flex:1;
      }
      button:last-child{
        border-right:0;
        flex:2;
      }
    }
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  .modal-text{
    text-align: center;
    padding-bottom: 30px;
    font-size: $font-size-middle;
    .font-strong{
      font-size: $font-size-lg;
    }
  }