@charset "UTF-8";
//font
@import url(http://common_source/fonts.googleapis.com/earlyaccess/notosanskr.css);


//color
$white: #fff;

$red: #ea0029;
$red-gra: linear-gradient(to right, rgba(234,0,41,1), rgba(255,70,157,1));
$purple: #ac20c7;
$pink: #ff4685;

$black-dark: #222;
$black-dark2: #444;
$black-alpha30: rgba(34,34,34,0.3);

$grey-light: #f4f4f4;

$grey-dark: #eee;
$grey-dark2: #ddd;

$grey-6: #666;
$grey-9: #999;

//../common_source/fontstyle

$font-family: 'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif !default;

$font-size-sub: 8px !default;
$font-size-xxsm: 10px !default;
$font-size-xsm: 11px !default;
$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-middle: 16px !default;
$font-size-lg: 18px !default;
$font-size-xlg: 20px !default;
$font-size-xxlg: 22px !default;
$font-size-xxxlg: 30px !default;

$font-weight-light: 300 !default;
$font-weight-base: 500 !default;
$font-weight-bold: 700 !default;

$small-font-size: 80% !default;

$normal: normal;

//radius
$radius-50: 50em !default;
%button-radius {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


//ect

.us {
    letter-spacing: 0.7px;
    word-spacing: -0.7px;
}
%mp_none{
    margin:0;
    padding:0;
}

%hand{
    cursor: pointer;
}
%box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
%top50 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

%left50 {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

%group {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%table{
    display: table;
    width: 100%;
}

%cell{
    display: table-cell;
    vertical-align: middle;
}

%flex{
    display: flex;
    align-items: center;
}

%flex-default{
    display: flex;
}

%flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

%box-shadow{
    -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.1); 
    box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.1);
}