@charset "UTF-8";
@import "variables";
@import "reset";
@import "buttons";
@import "tab";
@import "modal";
@import "gallery";
@import "remixicon";


/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
 html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-x:hidden;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
  }
  body {
    font-family: $font-family;
    line-height: 1.618;
    letter-spacing: -0.55px;
    word-spacing: -0.5px;
    -webkit-overflow-scrolling: touch;
    padding-top: 1px;
    margin-top: -1px;
    @extend %box;
    font-weight: $font-weight-base;
  }
  hr{
    border: 0;
    height: 1px;
    margin: 30px 0;
  }
  a{cursor: pointer;color:$black-dark}
  .blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    }
    .tag{font-size: $font-size-xsm;border-radius: 50em;display: inline-block;border:1px solid;padding:0px 10px;
    &.line-pink{
      border-color:$pink;color:$pink;
    }
  }

  .color-purple{color:$purple}
  .color-pink{color:$pink}
/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
 html, body {
    margin:0;
    height:100vh;
    font-weight:$font-weight-light;
  }
  .center-this{
    padding: 0px 20px;
    width: 100%;
    min-width:1280px;
  }
  .sub-this{
    margin: 0 auto;
    width:1000px;
    &-type2{
      width:800px;
    }
    .title-box{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h2{
        font-size:$font-size-lg;
        font-weight:$font-weight-light;
      }
    }
  }
  .body-map{
    overflow:hidden;
  }
  body{
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-track {
      background-color: $grey-dark;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $grey-dark2;
      border-radius: 5px;
    }
  }
  header{
    height:70px;
    background:$white;
    position: fixed;
    -webkit-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.16); 
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.16);
    .util{
      .util-mypage{display: inline-block;width:13px;height:13px;background-image:url(../../common_source/images/icon_user_grey.svg);background-size: 13px;background-repeat: no-repeat;background-position: center;margin-right: 3px;}
      .button-util-mypage{
        cursor: pointer;
        display: inline-block;padding:3px 20px;
        border-radius: 50em;border:1px solid $grey-9;color:$grey-9;
      }
    }
  }
  footer{
    height:36px;background-color: $red;color:$white;font-size:$font-size-base;display: flex;
    .center-this{display: flex;width:100%;align-items: center;}
    .footer-link{
      span{
        padding: 0 10px;
        border-left: 1px solid rgba($white,0.3);
        &:first-child{padding-left:0px;border-left:0px;}
      }
    }
    .footer-agree{
      margin-left:auto;
      span{margin-left:20px;}
    }
    a{color:$white;}
  }
  header{
    left:0;
    right:0;
    z-index: 99;
    top:0;
    position: fixed;
  }
  .main-wrap{
    footer{position: fixed;top:inherit;left:0;right:0;bottom:0;z-index: 99;}
  }
  .sub-wrap{
    min-height:82vh;
    padding: 70px 0 70px 0px;
    margin-top:50px;
  }
  .sub-wrap-type2{
    min-height:82vh;
    padding: 70px 0 70px 0px;
    background:$grey-light;
    &.bgwhite{
      background:$white;
    }
    .sub-visual{
      height:260px;
      position: relative;
      margin-bottom: 30px;
      .title-box{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color:$white;
        z-index: 10;
        h2{font-size: $font-size-xxxlg;}
        h3{margin: 0 auto;margin-top:20px; font-weight: $font-weight-light;font-size: $font-size-middle;max-width: 60%; word-break: keep-all;}
      }
      .sub-visual-mask{
        position: absolute;
        left:0;right:0;bottom:0;top:0;
        height:260px;z-index: 9;background-color: rgba(0,0,0,.6);
        width:100%;
      }
      .sub-visual-bg{
        img{
          object-fit: cover;width:100%;height:260px;
        }
      }
    }
    .sub-visual-type2{
      background: linear-gradient(to right, #ea0029, #ff469d);
      height:200px;
      .title-box{
        h3{font-size: $font-size-xlg;max-width: inherit;}
        h3 i img{width: 16px;margin-left:8px;}
      }
    }
  }


/* ----------------------------------------------------------------
 header
 -----------------------------------------------------------------*/
header{
  display: flex;
  .center-this{
    display: flex;
    flex-direction: row;
    align-items: center;
    .util{
      margin-left:auto;
    }
    .search-box{position:relative;
      margin-left:20px;display:flex; align-items: center;
      .search-inner{
        border-radius: 50em;overflow:hidden;border:1px solid $red;position:relative;
      }
      input{border:0px;padding:10px 20px; width:400px;}
    }
    .search-box-btn{
      cursor: pointer;width:30px;height:30px;display: block;background-image: url(../../common_source/images/icon_search_red.svg);background-repeat: no-repeat;background-size: 30px;margin-left:15px;
    }
  }
  .search-auto{
    position: absolute;
    top: 45px;
    left:0px;
    padding:20px;
    background:$white;
    border-radius: 10px;-webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.2);
    width:360px;
    
  }

}
/* ----------------------------------------------------------------
 main
 -----------------------------------------------------------------*/
  .map-area{
    position: relative;
    .map-area-inner{
      height:100vh;
      width:100%;
    }
    .wrap_map{
      height:100vh !important;
    }
    .button-map-area{
      position: absolute;
      bottom: 10%;
      right: 70px;
      z-index: 999;
      display: flex;
      text-indent: -999px;
      .button-map-ui, .button-map-toggle{
        display: block;width:50px;height:50px;cursor: pointer;
        background-repeat: no-repeat;background-size: 50px;
      }
      .button-map-toggle{
        background-image: url(../../common_source/images/map_icon_zoom_off.svg);
        &.on{
          background-image: url(../../common_source/images/map_icon_zoom_on.svg);
        }
      }
      .button-map-ui{
        background-image: url(../../common_source/images/map_icon_location_off.svg);
        &.on{
          background-image: url(../../common_source/images/map_icon_location_on.svg);
        }
      }
    }
  }
  .map-shop-list{
    position: fixed;
    left:0px;
    top:70px;
    bottom:36px;
    height:100%;
    background:$white;
    z-index: 90;
    width: 560px;
    border-right:1px solid $grey-dark2;
    display: flex;flex-direction: column;align-items: center;
    .title-box{
      width:510px;text-align: left; padding-top: 30px;
      display: flex;margin-bottom:20px; align-items: center;
      h2{font-size:$font-size-xlg;padding-left:30px;background-image:url(../../common_source/images/icon_maping_red.svg);background-size:22px;background-position: left center; background-repeat: no-repeat;}
      strong{color:$red;font-weight: $font-weight-bold;}
      .change-location{margin-left: auto;font-weight: $font-weight-bold;cursor: pointer;}
    }
  }

  .map-list-box{
    height:calc(100vh - 190px);overflow-y: auto;padding-right:15px;
    .common-list-list{
      margin-bottom:6px;
      cursor: pointer;
      &.active{border-color:$black-dark;}
    }
    .common-list-box-view{
      width:400px;
      position: fixed;
      left:560px;
      top: 70px;
      z-index: 9;
      height:calc(100vh - 100px);
      background:$red;
      color:$white;
      .content-box{
        height:calc(100vh - 360px);
        .shop-title-box{
          padding:25px 30px;
          color:$white;
          text-align: center;
          width:400px;
          @extend %box;
          flex-direction: column;
          height:140px;
          h2{font-size: $font-size-lg;margin-bottom: 10px;}
          h3{
            font-weight: $font-weight-light;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
          }
        }
      }
      .info-box-wrap{
        background:$white;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-top-right-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-topright: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color:$black-dark;
        padding:30px;
        margin-top: auto;
        height:calc(100vh - 560px);overflow-y: auto;
        -webkit-box-shadow: 0px -5px 5px 2px rgba(0,0,0,0.1); 
        box-shadow: 0px -5px 5px 2px rgba(0,0,0,0.1);
      }
    }
  }

  .map-area-locaiton{
    position: relative;
    position: absolute;
    white-space: nowrap;
    right: 300px;
    top: 250px;
    z-index: 90;
    width:35px;
    height:50px;
    .common-list-box{
      position: absolute;
      left:50%;
      transform: translateX(-55%);
      .list-title{
        color:$purple;
      }
    }
    .map-area-text{
      color:$red;
      border-color:$red;
      position: absolute;
      top: -50px;
      left:50%;
      transform: translateX(-55%);
    }
  }
  .map-area-locaiton-my{
    position: absolute;
    white-space: nowrap;
    right: 300px;
    top: 488px;
    z-index: 9;
    width:40px;
    height:40px;
    img{width:100%;height:100%;}
  }

  .map-area-text{
    position: fixed;
    padding:8px 15px;
    border-radius: 50em;
    background:$white;
    border:1px solid $grey-dark2;
    z-index: 9;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color:$grey-6;
    &.point1{
      top: 300px;right:100px;
    }
    &.point2{
      top: 400px; right:80px;
    }
    &.point3{
      top: 500px; right:500px;
    }
    &.point4{
      top: 200px; right:400px;
    }
  }

  .button-map-toggle-v2{
    position: absolute;z-index: 10;border:1px solid $grey-dark2;border-left:0px;left:0px;top: 50%;background-color:$white;width:40px;height:100px;display: flex;align-items: center;justify-content: center;-webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }

/* ----------------------------------------------------------------
 map :: location_change
 -----------------------------------------------------------------*/
.modal-location-search{
  &.focus{border-color:$pink;}
  .search-box{display: flex;}
  input{border:0;width:70%;padding:5px 0px;}
  border-bottom:2px solid $grey-9;
  .button-box{margin-left:auto;}
  img{width:16px;}
  .search-box-cancel{
    width:24px;padding:5px 0px;
  }
  .search-box-btn{
    width:24px;padding:5px 0px;
  }
}
.modal-location-search-my{
  text-align: right;
  padding: 10px 0px;
  margin-bottom:10px;
  border-bottom: 1px solid $grey-dark;
  font-weight: $font-weight-bold;
  cursor: pointer;
}
 
.modal-map-area{
  position: relative;
}
.modal-map{
  .root_daum_roughmap{
    width: 100%;
  }
  .root_daum_roughmap .wrap_controllers{display: none;}
}
.inn-text{
  padding: 20px;
  text-align: left;
  line-height: 2rem;
  
}


/* ----------------------------------------------------------------
 search result
 -----------------------------------------------------------------*/
 .search-result-wrap{
   .common-list-box{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  .common-list-list{
    width:445px !important;
    margin-bottom: 20px;
  }
 }

/* ----------------------------------------------------------------
 join
 -----------------------------------------------------------------*/
 .join-title{
   text-align: center;
   h2{
     font-weight: $font-weight-bold;
     font-size: $font-size-xxlg;
   }
 }
 .join-wrap{
  margin: 0 auto;
  width:440px;
 }
 .join-content{
  margin-top:30px;
  h3{
    small{color:$purple;margin-left:10px;}
  }
 }
 .join-int-wrap{
   width:440px;
   margin-bottom: 30px;
   li{
     margin-bottom: 10px;
   }
    dl{
      border-bottom: 1px solid $grey-9;
      dt{font-weight: $font-weight-bold;margin-bottom: -10px ;margin-top:20px;}
      dt small{color:$purple;position: relative;top: -2px;margin-left:3px;}
      dd{margin:10px 0px;}
      input{border:0px;padding: 6px 0px;}
    }
    .join-form{
      display: flex;
      input{
        flex:8;font-weight: $font-weight-light;
      }
      button{
        flex:2;padding: 0px 10px;border-radius: 5px;background: $pink;color:$white;cursor: pointer;
      }
    }
    .join-waring{
      color:$red;
      text-align: left;
      margin-top:15px;
    }
 }

 .join-agree-check{
   dt{margin-bottom: 10px;}
   dd{margin-left: 30px;margin-bottom: 5px;}
 }
 .join-btn-area{margin-top: 40px;}



/* ----------------------------------------------------------------
 shop-view
 -----------------------------------------------------------------*/
.shop-info-area{
  margin-top:30px;
  padding:30px;
  background:$white;
  border:1px solid $grey-dark;
  .btitle-box{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    .nav{margin-left: 15px;padding-top:3px;}
    h2{font-size:$font-size-lg;}
    .font-em{
      margin-left: 5px;
      color:$purple;
    }
    .shop-info-data-more{
      margin: 0;
      margin-top: 0px;
      margin-left:auto;
    }
  }
}
.shop-info-data-more{
  text-align: center;
  margin: 0 auto;
  margin-top:10px;
  a{
    color:$grey-9;
    text-decoration: underline !important;
  }
}

.shop-info-area-box{
  dl{
    padding:10px 0px !important;
    display: flex;
    width:32% !important;
    justify-content: center;
    align-items: center;
    dt{
      margin-right: 6px;
      img{
        width:24px;
      }
    }
    dd{margin:0 !important;font-size: $font-size-middle;}
  }
}

.shop-rv-area{
  display: flex;
  align-items: flex-end;
  .rv-info{
    flex:1;
    dt{font-weight: $font-weight-bold;font-size: $font-size-lg;}
    dd{color:$grey-9;}
  }
  .rv-score{
    margin-top: 5px;
    font-size: 3rem;
    strong{
      color:$pink;
    }
  }
  .heart-box{
    margin-top:10px;
    .icon{
      width: 30px;
      height:30px;
      background-size: 30px;
    }
  }
  .rv-graph{
    flex:2;
  }
  .rv-select{
    width:100%;
    position: relative;
    &:after{
      content:'\ea4e';
      font-family: remixicon;
      position: absolute;
      right:10px;
      top:50%;
      transform: translateY(-50%);
      font-size: $font-size-xlg;
    }
    select{padding: 5px 10px;border-radius: 5px;border: 1px solid $black-dark;width:100%;cursor: pointer;}
  }
  .rv-line{
    margin-top: 15px;
    dl{
      display: flex;
      margin-top:3px;
      &:before{content:'5';padding-right: 5px;color:$grey-9}
      &:nth-child(2){
        &:before{content: '4';}
      }
      &:nth-child(3){
        &:before{content: '3';}
      }
      &:nth-child(4){
        &:before{content: '2';}
      }
      &:nth-child(5){
        &:before{content: '1';}
      }
      dt{
        flex:8;
        .pr-box{
          width:100%;
          height:18px;
          background:$grey-light;
          display: flex;width:100%;
          .pr-inn{background:$pink;}
        }
      }
      dd{
        flex:1;
        margin-left:auto;
        text-align: right;
        padding-left:5px;
        color:$grey-9;
      }
    }
  }
}

/* ----------------------------------------------------------------
 join-modal
 -----------------------------------------------------------------*/
 .modal-login{
   background:$red;color:$white;text-align: center;
   position: relative;
   .modal-login-title{
     margin-top: 40px;
     img{
       width: 200px;
     }
   }
   .modal-btn-close{
     background:url(../../common_source/images/icon_close_white.svg);
    }
   .inn{
     padding: 50px 70px;
     @extend %box;
   }
   .join-int-wrap{
     margin-top: 30px;
     dl{
       border-color: $white;
       input{background:transparent;color:$white;}
        input::-webkit-input-placeholder {
          color:$white;
        }
        input:-ms-input-placeholder {
          color:$white;
        }
     }
   }
   .modal-login-btn{
     margin-top: 40px;display: flex;justify-content: space-between;
   }
   .modal-login-util{
     display: flex;margin-top: 40px;align-items: center;
     justify-content: center;
     li{
      padding-right: 10px; 
       *{color: $white;}
       &:after{
         border-right:1px solid rgba($white, 0.3);content:''; 
         padding-right: 10px;
       }
       &:last-child:after{border-right:0;}
     }
   }
   .modal-login-footer{
     margin-top: 60px;font-size: $font-size-sm;letter-spacing: 0;
   }
   .modal-join-text{
     margin-top: 20px;
     font-size: $font-size-middle;
    strong{font-weight: $font-weight-bold;}
   }
 }

 .modal-login-id{
   background:$white;color:$black-dark;
   .inn{padding-bottom: 50px;}
   .join-int-wrap{
    dl{
      border-color: $grey-9;
      input{background:transparent;color:$black-dark;}
       input::-webkit-input-placeholder {
         color:$grey-9;
       }
       input:-ms-input-placeholder {
         color:$grey-9;
       }
    }
  }
 }
 .modal-join-title{
   margin-top: 10px;
   h2{font-size: $font-size-lg;}
 }

 .modal-login-btn-v2{
   button{
     &:first-child{
       margin-right: 5px;
     }
     &:last-child{
       margin-left: 5px;
     }
   }
 }




/* ----------------------------------------------------------------
mypage
 -----------------------------------------------------------------*/
.mypage-wrap{
  display:flex;
  justify-content: space-between;
  .left-area, .right-area{
    width:48%;
  }
  .title-box{
    .mypage-btn-mode{
      cursor: pointer;
      margin-left:auto;
      color:$grey-9;
      padding-left:22px;
      background-image:url(../../common_source/images/icon_setting_grey.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 18px;
    }
  }
  .mypage-info-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    li{width:48%;margin-bottom: 3%;padding:15px 20px;@extend %box-shadow;@extend %box;border-radius: 5px;}
    dt{padding-left:22px;background-image:url(../../common_source/images/icon_calendar.svg);background-repeat: no-repeat;background-size: 14px;background-position: left center;font-weight:$font-weight-bold;}
    dd{font-size: $font-size-lg;margin-top:5px;}
    .mypage-point dt{background-image:url(../../common_source/images/icon_point.svg);}
  }
  .mypage-reservation-list{
    border-top:1px solid $grey-dark;
    li{
      padding:15px;
      border-bottom: 1px solid $grey-dark;
    }
    dl{
      display:flex;
      align-items: center;
      dt{
        h3{font-weight: $font-weight-light;}
        h2{font-size: $font-size-middle;}
      }
      dd{
        margin-left:auto;
        display: flex;
        justify-content: space-between;
        width:170px;
        span{width:80px;}
        .sm-btn{border-radius: 5px;}
      }
    }
  }
}

/* ----------------------------------------------------------------
 modal-agree
 -----------------------------------------------------------------*/
.modal-agreebox{
  min-height:300px;
  overflow-y:auto;
  margin-bottom: 20px;
  text-align: left;
}
.modal-agree-btn{
  display: flex;
  justify-content: space-between;
  &.w37{
    button:first-child{
      flex:1;
      margin-right: 5px;
    }
    button:last-child{
      flex:2;
      margin-left: 5px;
    }
  }
  button{min-width: 100px;}
}
.modal-text-info-agree{
  display: flex;
  dd{margin-left:auto;}
  .agree_more_link{
    text-decoration: underline !important;
    color:$black-dark;
  }
}

/* ----------------------------------------------------------------
 modal-review
 -----------------------------------------------------------------*/
.modal-rv-area{
  .modal-rv-info-area{
    text-align:left;
    .date{
      display: flex;
      dt{color:$black-dark}
      dd{color:$grey-9;margin-left:10px}
    }
    .name{
      margin-top: 6px;
      font-size: $font-size-middle;
    }
    .total{
      color:$pink;
      font-size: $font-size-middle;
    }
  }
  .modal-rv-score{
    margin-top: 10px;
    dt{font-weight: $font-weight-bold;}
    small{color:$grey-9;font-size: $font-size-base;}
  }
  .rv-rating{
    font-size: 3rem;
    margin: -10px 0;
  }
  .modal-rv-memo{
    margin-top: 15px;
    textarea{
      width:100%;
      border: 1px solid $grey-light;
      padding: 10px;
      height:100px;
      resize: none;
    }
    .add_photo{
      text-align: right;
      margin-top:5px;
      color:$black-dark;
      span{
        display: inline-block;
        background-image:url(../../common_source/images/icon_camera_black.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 13px;
        padding-left: 20px;
      }
    }
  }
}

.rv-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  > input {display: none;}  /* Remove radio buttons */
  > label:before { 
    content: "\ee0e"; /* Star */
    font-family: remixicon;
    display: inline-block; 
  }
  > label
  {
    color: $grey-9; /* Start color when not clicked */
  }
  > input:checked ~ label
  { color: $pink ; } /* Set yellow color when star checked */

  > input:hover ~ label
  { color: $pink ;  } /* Set yellow color when star hover */

}


.reserve-list{
  .title {
    display: block;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    text-align: left;
    h2{
      font-size: $font-size-lg;
      padding-left:26px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px;
    }
    .rv-list-title1{
      background-image:url(../../common_source/images/icon_calendar.svg);
    }
    .rv-list-title2{
      background-image:url(../../common_source/images/icon_time.svg);
    }
    .rv-list-title3{
      background-image:url(../../common_source/images/icon_cut.svg);
    }
  }
}

.reserve-cut-menu{
  margin-top: 30px;
  .tab-type3{
    margin:0;
    justify-content: flex-start;
  }
}

.reserve-list-accordion{
  .reserve-list-toggle {
    display: none;
  }
  .reserve-list-option {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $grey-dark;
  }
  .title,
  .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }
  .title:after, .title:before {
    content: '';
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    font-size: $font-size-xlg;
  }
  .title:after{
    font-family: remixicon;
    content:'\ea4e';
  }
  .content {
    max-height: 0;
    overflow: hidden;
    dt{margin-bottom: 10px;}
  }

  .reserve-list-toggle:checked {
    & + .title:before {
      content:'';
    }
    & + .title:after {
      content:'\ea78';
    }
    & + .title + .content {
      max-height: 500px;
    }
  }

  .rv-time-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    li{
      width: 25%;
      margin-bottom: 10px;
    }
    input{
      display: none;
    }
  }

  .rv-time-check + label{
    padding: 6px 0;
    display: block;
    color:$black-dark;
    border:1px solid $pink;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
  }
  .rv-time-check:checked + label{
    background:$pink;
    color:$white;
  }
  .rv-time-check:disabled + label{
    background:$grey-light;
    color:$grey-9;
    border-color: $grey-dark2;
  }
  .rv-time-label-info{
    display: flex;
    margin: 10px 0;
    justify-content: flex-end;
    p{
      margin-left: 15px;
      align-content: center;
      display: flex;
      span{
        margin-right: 6px;
        display: block;
        width: 40px;
        height: 18px;
        background:$pink;
        border: 1px solid $pink;
      }
      span.off{
        background:$grey-light;
        border-color: $grey-dark2;
      }
    }
  }
}

/* ----------------------------------------------------------------
 rv-modal
 -----------------------------------------------------------------*/
.modal-rv-fin-area{
  .total-pirce, .total-pirce-type2{
    @extend %box-shadow;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    dl{display: flex;padding: 10px 15px;}
    dd{margin-left: auto;}
    dd strong{font-size: $font-size-middle;}
  }
  .total-pirce-type2{
    margin-top: 30px;
    border: 1px solid $red;
    dl{padding: 15px;}
    dd{color:$red;}
    dt{font-weight: $font-weight-bold;}
  }
  .check-person{
    dl{
      display: flex;
    }
    dd{margin-left:auto}
    dd a{text-decoration: underline !important;color:$black-dark}
  }
  .modal-head{margin-bottom: 6px;}
  .price-point{
    text-align: left;
    h3{color:$purple;font-size: $font-size-base;margin-bottom: 5px;}
    input{border:0;}
    .pirce-point-box{
      display:flex;
      .pirce-use{
        display: flex;
        align-content: center;
        padding-right: 10px;
        dl{
          display: flex;
          border:1px solid $grey-dark;
          padding: 5px;
          input{margin-left:auto;text-align: right;width:calc(100% - 130px);}
        }
        .btn{border: 1px solid $purple;color:$purple;padding: 5px 0px; width:70px;text-align: center;}
      }
      .price-use-won{
        align-content: center;
        border: 1px solid $grey-dark2;
        input{
          text-align: right;
          padding: 5px;
        }
      }
    }
    .price-check{
      margin-top: 10px;
      li{margin-bottom: 5px;}
    }
  }
}

  .modal-waring-text{
    margin-bottom: 10px;
    i{font-size: $font-size-xxlg;}
    h2{font-size: $font-size-xlg;}
    h3{margin-top:10px;color:$grey-9}
  }

  .modal-rv-fin-check{
    margin-top: 10px;
    background:$white;
    border: 1px solid $grey-dark;
    padding: 20px;
    text-align: left;
    dt{margin-bottom: 5px;}
    dd{
      display: flex;
      .rv-fin-date{
        width: 130px;
        h2{font-weight: $font-weight-bold;font-size: $font-size-xxxlg;
          line-height: 1.2;}
        h3{font-size:$font-size-base;margin-top:5px}
      }
      .rv-fin-date-info{
          max-width: 300px;
          h4{font-weight: $font-weight-bold;color:$purple}
          h2{font-size: $font-size-lg;margin-bottom: 5px; line-height: 1.4;}
          h3{font-size: $font-size-base;color:$grey-6}
      }
    }
  }
/* ----------------------------------------------------------------
 common
 -----------------------------------------------------------------*/
.common-list-box{
  .common-list-list{
    display: flex; border:1px solid $grey-dark2;padding:20px;border-radius:10px;background:$white;width:460px;
    &:focus, &:active, &:hover{
      border-color:$black-dark;cursor: pointer;
    }
    .img-box{
      flex-basis: 135px;width:135px;height:100px;border-radius:3px; overflow:hidden;
      img{width:135px;height:100px;object-fit: cover;}
    }
    dl{
      display: flex;flex-direction: column;width:300px;margin-left:auto;
      .list-title{
        font-size: $font-size-lg;font-weight: $font-weight-bold;
        .tag{
          position: relative;top:-3px;margin-left:5px;
        }
      }
      .list-sub{font-size:$font-size-base;margin-top:3px;
        overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;white-space: initial;
      }
      .list-util{
        margin-top:3px;
        display: flex;
        span{display: flex;align-items: center;line-height: 20px;margin-right:8px;color:$grey-6;}
        .icon{
          display: block;background-repeat: no-repeat;width:20px;height:20px;line-height: 20px;background-position:center;background-size:14px;margin-right:3px;
          &.heart{background-image:url(../../common_source/images/icon_heart_on.svg);}
          &.comment{background-image:url(../../common_source/images/icon_comment.svg)}
        }
      }
    }
  }
}
.common-search-title-box{
  display: flex;
  h2{font-weight:$font-weight-bold;font-size:$font-size-middle;}
  span{margin-left:auto;cursor:pointer;}
}
.common-search-list{
  margin-top:10px;  
  max-height:180px;
  overflow-y: auto;
  li{
    display: flex;
    padding:3px 0px;
    padding-right: 10px;
    h3{display:block;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;width:90%;text-align: left;}
    .common-search-delete{
      margin-left:auto;cursor: pointer;
    }
  }
}

.common-list-box-view{
  .img-box{
    position: relative;
    height:260px;overflow:hidden;
    .close-btn{
      position: absolute;
      right:15px;
      top:15px;
      cursor: pointer;
      .shop-img{
      width:400px;height:260px;object-fit: cover;
      }
    }
  }
}

.common-designer-area{
  display: flex;
  .img-box{
    width: 80px;
    height:80px;
    overflow: hidden;
    border-radius: 50em;
    display: block;
    margin-right: 20px;
    img{
      object-fit: cover;
      width: 80px;
      height:80px;
    }
  }
}

.common-info-box{
  dl{display: flex;align-items: flex-start;margin-bottom: 3px;align-items: center;}
  dt{width:80px;font-weight: $font-weight-bold;}
  dd{
    min-height:29px;
    display: flex; align-items: center;
    width: calc(100% - 80px);
    strong{margin-left:5px;}
  }
}

.modal{
  .common-info-box{
    dl{
      text-align: left;
      dt{color:$grey-9;font-weight: $font-weight-base;}
      dd{min-height: auto;}
    }
  }
}

.common-store-name{
  display: flex;
  width: 100%;
  .common-store-title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
 
.common-shop-more{
  display: block;
  flex-direction: column;
  span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .info-more{
    font-size: $font-size-sm;
    color:$grey-9;
    text-decoration: underline !important;
    text-align: left;
    width: 100%;
    display: block;
  }
}
.common-shop-photo-box{
  display: grid;
  justify-content: space-between;
  grid-gap: 5px;
  li{width:100%;}
  .tumb > img{
    object-fit: cover;
    width:100%;
  }
  &.col_4{
    grid-template-columns: repeat(auto-fill, 24%);
    .tumb > img{
      height:180px;
    }
  }
  &.col_5{
    grid-template-columns: repeat(auto-fill, 19%);
    .tumb > img{
      height:140px;
    }
  }
}

.common-shop-menu-radio-wrap{
  flex-wrap: wrap;
  display: flex;
  width:100%;
  label{width:100%;}
  li{
    width:50%;
    display: flex;
    margin-bottom: 10px;
    @extend %box;
    &:nth-child(odd){padding-right: 5px;}
    &:nth-child(even){padding-left: 5px;}
  }
  dl{
    border:1px solid $white;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    &::before{
      content:'';
      position: absolute;
      left: 15px;
      top:15px;
      width:22px; 
      height:22px; 
      background-image: url(../../common_source/images/input_check_round.svg); 
      background-position: -22px 0;
    }
  }
  .price{
    margin-top: 3px;
    font-size: $font-size-lg;
    em{
      text-decoration: line-through;
      color:$grey-9;
      margin-left: 10px;
    }
    .discount{
      color:$purple;
      margin-left: 10px;
      font-weight: $font-weight-bold;
    }
  }
  small{color:$grey-9}
  .input {
    position: absolute;
    left: -9999px;
  }
  input[type=checkbox]:checked + label dl{
    border:1px solid $black-dark;
    &:before{
      background-position: 0 0;
    }
  }
}

.common-design-reserve{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    width:49%;
    margin-bottom: 10px;
    display: flex;
    @extend %box;
    @extend %box-shadow;
    justify-content: space-between;
    border-radius: 5px;
    padding:15px;
    align-items: center;
    .img-area{
      display: flex;
      align-items: center;
      img{
        object-fit: cover;
        width:44px;
        height:44px;
        border-radius: 50em;
        overflow:hidden;
      }
    }
    dl{
      width:190px;
      padding-left:15px;
      dt{font-weight: $font-weight-bold;font-size: $font-size-middle;}
      dd{
        width:190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.design-btn-area{
  margin-left:auto;
  .sm-btn{
    border-radius: 5px;
    width:80px;
    i{
      display: inline-block;
      width:12px;
      height:13px;
      background-image: url(../../common_source/images/icon_calendar_white.svg);
      background-size: 12px auto;
      background-repeat: no-repeat;
      position: relative;
      margin-right: 5px;
    }
  }
}

.sub-btn-area{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  a{width: 300px}
}

.common-shop-menu-box{
  @extend %box;
  @extend %box-shadow;
  padding: 15px;
  border-radius: 5px;
}

.common-shop-comment-box{
  dl{
    padding:10px 0px;
    border-bottom: 1px solid $grey-dark;
    text-align: left;
  }
  .title{
    display: flex;
    align-items: center;
    .tt{margin-right:13px;font-size: $font-size-middle;font-weight: $font-weight-bold;}
  }
  .text{
    margin-top:5px;  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .date{
    margin-top:5px;
    font-size: $font-size-sm;
    color:$grey-9;
    span{margin-right: 6px;}
  }
}

.common-info-link-btn{
  display: flex;
  justify-content: space-between;
  margin:20px 0px;
  dl{
    width:100px;
    border-radius: 5px;
    border:1px solid $grey-dark2;
    padding:15px 0px;
    @extend %box;
    text-align: center;
    cursor: pointer;
    background: $white;
    dd{margin-top:3px}
  }
}

/* ----------------------------------------------------------------
 common - heart
 -----------------------------------------------------------------*/
.heart-box-wrap{
  display: flex;
  align-items: center;
  label{margin-right: 5px;}
}
.heart-box{
  display: flex;
  align-items: center;
  i{margin-right: 3px;}
}
.icon{
  display: block;background-repeat: no-repeat;width:16px;height:16px;line-height: 16px;background-position:center;background-size:16px;
  &.heart{background-image:url(../../common_source/images/icon_heart_on.svg);}
  &.heart.off{background-image:url(../../common_source/images/icon_heart_off.svg);}
}
